.my-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.my-checkbox__old {
    display: none;
}
.my-checkbox__old:checked + .my-checkbox__new {
    background-color: #90AB7B;
}
.my-checkbox__new {
    display: inline-block;
    margin-left: 9px;
    margin-right: 16px;
    height: 16px;
    width: 16px;
    border: 1px solid #90AB7B;
    border-radius: 4px;
}
.my-checkbox__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 120%;
}
.my-checkbox__text-link {
    text-decoration: underline;
}

@media (max-width: 1281px) {

}

@media (max-width: 992px) {
    .my-checkbox__new {
        height: 16px;
        width: 21px;
    }
}

@media (max-width: 769px) {
    .my-checkbox__new {
        height: 16px;
        width: 16px;
    }
}

@media (max-width: 651px) {
    
}

@media (max-width: 551px) {
    .my-checkbox__text {
        max-width: 150px;
    }
}

@media (max-width: 431px) {
    .feedback-form {
        padding: 20px 20px 30px 20px;
    }
}

