/* БЛОК СТАТЕЙ */
.articles-list {}

.main__articles-list {}

.articles-list__container {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
}

.articles-list__sort-buttons {
    display: flex;
    gap: 16px;
    margin-bottom: 40px;
}

.articles-list__sort-button-swiper {}

.articles-list__sort-buttons-swiper-wrapper {}

.articles-list__sort-buttons-swiper-slide {
    width: auto;
}

.articles-list__button {
    display: inline-block;
    color: #303030;
    border-color: #BACC92;
}

.articles-list__button:hover,
.articles-list__button.active {
    border-color: #4E6932 !important;
    color: #FFF !important;
    background-color: #4E6932 !important;
}

.articles-list__items {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: min-content;
    gap: 24px;
    margin-bottom: 56px;
}

.articles-list__item {
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    height: auto;
    background-color: #CFCFCF;
}

/* Первая строка (элементы 1-3) */
.articles-list__item:nth-child(6n + 1) {
    /* большой элемент (628x400) */
    grid-column: 1 / span 6;
    grid-row: calc(3 * var(--block-index) + 1);
    min-height: 400px;
}

.articles-list__item:nth-child(6n + 2),
.articles-list__item:nth-child(6n + 3) {
    /* два маленьких (222x320) */
    grid-column: span 3;
    grid-row: calc(3 * var(--block-index) + 1);
    min-height: 400px;
}

/* Вторая строка (элементы 4-6) */
.articles-list__item:nth-child(6n + 4) {
    /* узкий слева (верхний) */
    grid-column: 1 / span 6;
    grid-row: calc(3 * var(--block-index) + 2);
    min-height: 258px;
}

.articles-list__item:nth-child(6n + 5) {
    /* узкий слева (нижний) */
    grid-column: 1 / span 6;
    grid-row: calc(3 * var(--block-index) + 3);
    min-height: 258px;
}

.articles-list__item:nth-child(6n + 6) {
    /* большой справа (610x540) */
    grid-column: 7 / span 6;
    grid-row: calc(3 * var(--block-index) + 2) / span 2;
    min-height: 540px;
}

.article-list__item-inner {
    display: block;
    height: 100%;
}

.article-list__item-inner:hover {
    color: #303030;
}

.articles-list__item:hover {
    filter: brightness(0.9);
}

.articles-list__item:hover .my-button {
    border-color: #4E6932 !important;
    color: #FFF !important;
    background-color: #4E6932 !important;
}

.articles-list__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.articles-list__item-content {
    display: flex;
    flex-direction: column;
    padding: 40px;
    height: 100%;
    position: relative;
}

.articles-list__item-title {
    padding: 12px 20px;
    background-color: #F6F6F6;
    color: #303030;
    border-radius: 16px;
    display: inline-block;
    position: absolute;
    bottom: 40px;
    left: 40px;
    right: 40px;
    width: fit-content;
}

.articles-list__item-text-content {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 5;
    height: 100%;
}

.articles-list__item-date {
    font-size: 14px;
    line-height: 130%;
    color: #4E6932;
    margin-bottom: 16px;
}

.articles-list__item-texts {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.articles-list__item-text-title {
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 40px;
}

.articles-list__item-text {
    font-size: 16px;
    line-height: 130%;
}

.articles-list__item-link {
    display: inline-flex;
    margin-top: auto;
}

.articles-list__item-link:hover {
    border-color: #4E6932 !important;
    color: #FFF !important;
    background-color: #4E6932 !important;
}

.articles-list__item.--text-news {
    background-color: #C9DAA4;
    position: relative;
}

.articles-list__item.--text-news:hover {
    filter: brightness(1);
}

.articles-list__item.--text-news .articles-list__item-title {
    display: none;
}

.articles-list__item.--text-news .articles-list__item-img {
    display: none;
}

.articles-list__item.--text-news::before {
    content: '';
    display: inline-block;
    height: 148%;
    width: 174%;
    position: absolute;
    top: -180px;
    left: -20px;
    background: url('../../assets/images/patterns.png') 100% / cover;
    z-index: 1;
    opacity: .1;
}

.articles-list__item.--text-news .articles-list__item-text-content {
    display: flex;
}

.articles-list__item.--text-news_withImage {
    position: relative;
}

.articles-list__item.--text-news_withImage:hover {
    filter: brightness(1);
}

.articles-list__item.--text-news_withImage .articles-list__item-title {
    display: none;
}

.articles-list__item.--text-news_withImage .articles-list__item-img {
    filter: brightness(0.6);
}

.articles-list__item.--text-news_withImage .articles-list__item-text-content {
    display: flex;
    color: #FFF;
}

.articles-list__item.--text-news_withImage .articles-list__item-text {
    display: none;
}

.articles-list__item.--text-news_withImage .articles-list__item-date {
    color: #FFF;
}

.articles-list__item.--text-news_withImage .articles-list__item-link {
    border-color: #FFF;
    color: #FFF;
}

@media (max-width: 1361px) {
    .articles-list {
        padding-top: 80px;
    }

    .articles-list__container {
        padding-top: 0px;
    }

    .articles-list__sort-button-swiper {
        overflow: visible;
    }

    .articles-list__items {
        gap: 20px;
    }
}

@media (max-width: 1281px) {
    .articles-list {
        padding-top: 70px;
    }

    .articles-list__button {
        font-size: 14px;
        line-height: 130%;
        padding: 15px 22px;
    }

    .articles-list__items {
        margin-bottom: 48px;
    }

    .articles-list__item:nth-child(6n + 1) {
        /* большой элемент (628x400) */
        grid-column: 1 / span 4;
    }

    .articles-list__item:nth-child(6n + 2),
    .articles-list__item:nth-child(6n + 3) {
        /* два маленьких (222x320) */
        grid-column: span 4;
    }

    /* Вторая строка (элементы 4-6) */
    .articles-list__item:nth-child(6n + 4) {
        /* узкий слева (верхний) */
        grid-column: 1 / span 4;
    }

    .articles-list__item:nth-child(6n + 5) {
        /* узкий слева (нижний) */
        grid-column: 1 / span 4;
    }

    .articles-list__item:nth-child(6n + 6) {
        /* большой справа (610x540) */
        grid-column: 5 / span 8;
    }

    .articles-list__item-content {
        padding: 30px;
    }

    .articles-list__item-title {
        padding: 12px 20px;
        font-size: 14px;
        bottom: 30px;
        left: 30px;
        right: 30px;
    }
}

@media (max-width: 991px) {
    .articles-list {
        padding-top: 65px;
    }

    .articles-list__sort-buttons {
        margin-bottom: 45px;
    }

    .articles-list__items {
        gap: 18px;
        margin-bottom: 41px;
        grid-template-columns: 1fr;
    }

    .articles-list__item {
        grid-column: 1 !important;
        grid-row: auto !important;
    }

    /* Первая строка (элементы 1-3) */
    .articles-list__item:nth-child(6n + 1) {
        /* большой элемент (628x400) */
        min-height: 480px;
    }

    .articles-list__item:nth-child(6n + 2),
    .articles-list__item:nth-child(6n + 3) {
        /* два маленьких (222x320) */
        min-height: 360px;
    }

    /* Вторая строка (элементы 4-6) */
    .articles-list__item:nth-child(6n + 4) {
        /* узкий слева (верхний) */
        min-height: 270px;
    }

    .articles-list__item:nth-child(6n + 5) {
        /* узкий слева (нижний) */
        min-height: 270px;
    }

    .articles-list__item:nth-child(6n + 6) {
        /* большой справа (610x540) */
        min-height: 460px;
    }

    .articles-list__item-content {
        padding: 20px;
    }

    .articles-list__item-title {
        padding: 12px 20px;
        font-size: 12px;
        bottom: 20px;
        left: 20px;
        right: 20px;
    }
}

@media (max-width: 768px) {
    .articles-list {
        padding-top: 60px;
    }

    .articles-list__sort-buttons {
        margin-bottom: 50px;
    }

    .articles-list__button {
        font-size: 14px;
        line-height: 130%;
        padding: 15px 22px;
    }

    .articles-list__items {
        grid-template-columns: 1fr;
        gap: 20px;
        margin-bottom: 35px;
    }

    /* Первая строка (элементы 1-3) */
    .articles-list__item:nth-child(6n + 1) {
        /* большой элемент (628x400) */
        min-height: 540px;
    }

    .articles-list__item:nth-child(6n + 2),
    .articles-list__item:nth-child(6n + 3) {
        /* два маленьких (222x320) */
        min-height: 340px;
    }

    /* Вторая строка (элементы 4-6) */
    .articles-list__item:nth-child(6n + 4) {
        /* узкий слева (верхний) */
        min-height: 270px;
    }

    .articles-list__item:nth-child(6n + 5) {
        /* узкий слева (нижний) */
        min-height: 270px;
    }

    .articles-list__item:nth-child(6n + 6) {
        /* большой справа (610x540) */
        min-height: 400px;
    }

    .articles-list__item-content {
        padding: 30px;
    }

    .articles-list__item-title {
        padding: 12px 20px;
        font-size: 14px;
        bottom: 30px;
        left: 30px;
        right: 30px;
    }
}

@media (max-width: 651px) {
    .articles-list__sort-buttons {
        margin-bottom: 55px;
    }
}

@media (max-width: 571px) {
    .articles-list__sort-buttons {
        margin-bottom: 60px;
    }

    .articles-list__button {
        font-size: 12px;
        line-height: 100%;
        padding: 14px 19px;
    }

    .articles-list__items {
        gap: 22px;
    }

    .articles-list__item-wrapper {
        gap: 22px;
    }

    .articles-list__item-top {
        gap: 22px;
    }

    .articles-list__item-bottom {
        gap: 22px;
    }
}

@media (max-width: 431px) {
    .articles-list__button {
        padding: 12px 19px;
    }

    .articles-list__items {
        gap: 24px;
    }

    .articles-list__item-wrapper {
        gap: 24px;
    }

    .articles-list__item-top {
        gap: 24px;
    }

    .articles-list__item-bottom {
        gap: 24px;
    }
}