/* СЕДЬМОЙ БЛОК */
.starting-camp {
    padding: 150px 0px 301px 0px;
    background: url("/solist/new/assets/images/pages/summer-camp/starting-camp/background-img.svg");
    background-size: cover;
    background-position: center top;
}
.starting-camp__container {
    display: flex;
    justify-content: center;
    padding: 0px 30px;
}
.starting-camp__inner {
    display: flex;
		justify-content: center;
    gap: 37px;
    max-width: 1280px;
    width: 100%;
}
.starting-camp__title {
    max-width: 605px;
    margin-bottom: 0px;
}
.starting-camp__img-wrap {
    max-width: 564px;
    max-height: 419px;
}
.starting-camp__img {
    width: 100%;
    object-fit: cover;
}

@media (max-width: 1317px) {
    .starting-camp {
        padding: 134px 0px 270px 0px;
    }
    .starting-camp__inner {
        gap: 30px;
        max-width: 1003px;
    }
    .starting-camp__title {
        max-width: 492px;
    }
    .starting-camp__img-wrap {
        max-width: 495px;
    }
}

@media (max-width: 991px) {
    .starting-camp {
        padding: 110px 0px 204px 0px;
    }
    .starting-camp__inner {
        gap: 24px;
        max-width: 810px;
    }
    .starting-camp__title {
        max-width: 385px;
    }
    .starting-camp__img-wrap {
        max-width: 365px;
    }
}

@media (max-width: 768px) {
    .starting-camp {
        padding: 100px 0px 153px 0px;
    }
    .starting-camp__inner {
        gap: 74px;
        max-width: none;
        flex-direction: column;
        align-items: flex-start;
    }
    .starting-camp__title {
        max-width: 390px;
			  align-self: flex-end;
    }
    .starting-camp__img-wrap {
        max-width: 497px;
				margin-top: 0px;
    }
}

@media (max-width: 570px) {
    .starting-camp {
        padding: 93px 0px;
        background: none;
    }
    .starting-camp__inner {
        gap: 47px;
    }
    .starting-camp__title {
        max-width: 335px;
    }
    .starting-camp__img-wrap {
        max-width: 376px;
    }
}

@media (max-width: 431px) {
    .starting-camp {
        padding: 80px 0px;
    }
    .starting-camp__inner {
        gap: 24px;
    }
    .starting-camp__title {
        max-width: 320px;
        margin-right: -10px;
				text-align: center;
				align-self: center;
    }
    .starting-camp__img-wrap {
        max-width: 315px;
        align-self: center;
    }
}