@media (max-width: 431px) {
    .hero-section__link > br {
        display: block;
    }
}


/* БЛОК "ЗАЧЕМ НУЖНА ШКОЛА РАННЕГО РАЗВИТИЯ" */
.why-need-school {
}
.main__why-need-school {
}
.why-need-school__container {
}
.why-need-school__title {
}
.why-need-school__info-cards {
    width: 100%;
    display: flex;
    gap: 24px;
    align-items: stretch;
}
.why-need-school__card {
    max-width: 302px;
    flex: 1 1 calc(25% - 24px);
    display: flex;
    flex-direction: column;
}
.why-need-school__card-inner {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;
    flex-grow: 1;
}
.why-need-school__card-img-wrap {
    border-radius: 24px;
    overflow: hidden;
    background-color: #FCFCFC;
    height: 320px;
    width: 100%;
}
.why-need-school__card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.why-need-school__card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.why-need-school__card-title {
    font-size: 20px;
    line-height: 120%;
    color: #4E6932;
    margin-bottom: 16px;
}
.why-need-school__card-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    color: #303030;
    max-width: none;
}

@media (max-width: 1361px) {
    .why-need-school__card-inner {
        gap: 20px;
    }
    .why-need-school__card-img-wrap {
        height: auto;
        width: auto;
        aspect-ratio: 302 / 320;
    }
    .why-need-school__card-title {
        font-size: 18px;
        margin-bottom: 10px;
    }
}
@media (max-width: 1281px) {
    .why-need-school__info-cards {
        gap: 22px;
    }
    .why-need-school__card {
        flex: 1 1 calc(25% - 22px);
    }
    .why-need-school__card-text {
        font-size: 15px;
    }
}

@media (max-width: 992px) {
    .why-need-school__info-cards {
        row-gap: 40px;
        column-gap: 20px;
        flex-wrap: wrap;
    }
    .why-need-school__card {
        flex: 0 1 calc(33.333% - 20px);
        display: flex;
        flex-direction: column;
    }
    .why-need-school__card-text {
        font-size: 14px;
    }
}

@media (max-width: 769px) {
    .why-need-school__card {
        flex: 1 1 calc(50% - 20px);
        max-width: none;
    }
    .why-need-school__card-inner {
        gap: 22px;
    }
    .why-need-school__card-title {
        margin-bottom: 16px;
    }
    .why-need-school__card-text {
        font-size: 14px;
    }
}

@media (max-width: 651px) {
    .why-need-school__info-cards {
        row-gap: 30px;
    }
}

@media (max-width: 551px) {
    .why-need-school__card {
        flex: 1 1 100%;
        max-width: none;
    }
    .why-need-school__info-cards {
        gap: 40px;
    }
    .why-need-school__card-title {
    }
    .why-need-school__card-text {
        font-size: 16px;
    }
}

@media (max-width: 431px) {
    .why-need-school__info-cards {
        gap: 45px;
    }
    .why-need-school__card-inner {
        gap: 24px;
    }
    .why-need-school__card-title {
        font-size: 16px;
    }
    .why-need-school__card-text {
        font-size: 12px;
    }
}


/* БЛОК ПРЕИМУЩЕСТВА */
.advantage-item {
}
.advantage-item.--no-descButton .advantage-item__desc-buttons {
    display: none;
}
.advantage-item.--no-descButton .advantage-item__desc-text:not(:last-child) {
    margin-bottom: 0px;
}
.advantage-item.--no-button .advantage-item__buttons {
    display: none;
}
.advantage-item.--no-preTitle .advantage-item__desc-pre-title {
    display: none;
}
.main__advantage-item {
}
.advantage-item__container {
    display: flex;
    flex-direction: column;
}
.advantage-item__desc {
    display: flex;
    gap: 60px;
    margin-bottom: 80px;
}
.advantage-item__desc__title {
    max-width: 610px;
    width: 100%;
    margin-bottom: 0;
}
.advantage-item__desc-elements {
    display: flex;
    flex-direction: column;
    max-width: 610px;
    width: 100%;
}
.advantage-item__desc-pre-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 130%;
    margin-bottom: 40px;
}
.advantage-item__desc-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
}
.advantage-item__desc-text:not(:last-child) {
    margin-bottom: 24px;
}
.advantage-item__desc-buttons {
}
.advantage-item__content {
    margin-bottom: 32px;
}
.advantage-item__buttons {
    display: flex;
    gap: 24px;
}
.advantage-item__button {
    flex: 1 1 calc(50% - 24px)
}

@media (max-width: 1361px) {

}
@media (max-width: 1281px) {
    .advantage-item__desc {
        gap: 50px;
        margin-bottom: 70px;
    }
    .advantage-item__desc-pre-title {
        font-size: 22px;
        margin-bottom: 35px;
    }
    .advantage-item__buttons {
        gap: 22px;
    }
}
@media (max-width: 992px) {
    .advantage-item__desc__title {
        max-width: 400px;
    }
    .advantage-item__desc {
        gap: 40px;
        margin-bottom: 60px;
    }
    .advantage-item__desc-pre-title {
        font-size: 22px;
        margin-bottom: 30px;
    }
    .advantage-item__desc-text {
        font-size: 15px;
    }
    .advantage-item__desc-text:not(:last-child) {
        margin-bottom: 20px;
    }
    .advantage-item__content {
        margin-bottom: 30px;
    }
    .advantage-item__buttons {
        gap: 20px;
    }
}

@media (max-width: 769px) {
    .advantage-item__container {
        padding: 0px;
    }
    .advantage-item__desc__title {
        max-width: 610px;
    }
    .advantage-item__desc {
        flex-direction: column;
        gap: 50px;
        margin-bottom: 50px;
        padding: 0px 30px;
    }
    .advantage-item__desc-pre-title {
        margin-bottom: 25px;
    }
    .advantage-item__desc-text {
        font-size: 16px;
    }
    .advantage-item__desc-button {
        max-width: 400px;
        width: 100%;
        border-radius: 250px;
    }
    .advantage-item__content {
        margin-bottom: 40px;
    }
    .advantage-item__buttons {
        flex-direction: column;
        padding: 0px 30px;
    }
}

@media (max-width: 651px) {
    .advantage-item__desc {
        gap: 48px;
        margin-bottom: 48px;
    }
    .advantage-item__desc-text:not(:last-child) {
        margin-bottom: 22px;
    }
    .advantage-item__content {
        margin-bottom: 48px;
    }
}

@media (max-width: 551px) {
    .advantage-item__desc {
        gap: 45px;
        margin-bottom: 45px;
    }
    .advantage-item__desc-pre-title {
        font-size: 20px;
        line-height: 120%;
    }
    .advantage-item__desc-text {
        font-size: 15px;
    }
    .advantage-item__desc-text:not(:last-child) {
        margin-bottom: 24px;
    }
    .advantage-item__content {
        margin-bottom: 45px;
    }
}
@media (max-width: 431px) {
    .advantage-item__desc-pre-title {
        margin-bottom: 30px;
    }
    .advantage-item__desc-text {
        font-size: 14px;
    }
}

/* СТИЛИ СЛАЙДЕРА */
.advantage-item.--nowrap-slider .advantage-item__slider {
    width: 100%;
}
.advantage-item.--nowrap-slider .advantage-item__swiper {
}
.advantage-item.--nowrap-slider .advantage-item__swiper-wrapper {
}
.advantage-item.--nowrap-slider .advantage-item__swiper-slide {
    height: auto;
}

@media (min-width: 992px) {
    .advantage-item.--nowrap-slider .advantage-item__swiper-slide {
        flex: 1 1 calc(50% - 60px);
        margin-right: 0px !important;
    }
    .advantage-item.--nowrap-slider .advantage-item__swiper-wrapper {
        flex-wrap: wrap;
        gap: 40px 60px
    }
}
.advantage-item.--nowrap-slider .advantage-item__slide {
    max-width: 610px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.advantage-item.--nowrap-slider .advantage-item__slide-img-wrap {
    max-width: 610px;
    width: 100%;
    height: 540px;
    overflow: hidden;
    border-radius: 24px;
}
.advantage-item.--nowrap-slider .advantage-item__slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.advantage-item.--nowrap-slider .advantage-item__slide-title {
    font-size: 20px;
    line-height: 120%;
    color: #4E6932;
    margin-bottom: 20px;
    max-width: 293px;
}
.advantage-item.--nowrap-slider .advantage-item__swiper-controls {
    display: none;
}
.advantage-item.--nowrap-slider .advantage-item__swiper-pagination {
}
.advantage-item.--nowrap-slider .advantage-item__swiper-navigation {
}
.advantage-item.--nowrap-slider .advantage-item__swiper-button-prev {
}
.advantage-item.--nowrap-slider .advantage-item__swiper-button-next {
}

@media (max-width: 1361px) {
    .advantage-item.--nowrap-slider .advantage-item__slide-img-wrap {
        width: auto;
        height: auto;
        aspect-ratio:  610 / 540;
    }
}

@media (max-width: 1281px) {
    .advantage-item.--nowrap-slider .advantage-item__slide-title {
        font-size: 18px;
        max-width: 270px;
    }
}

@media (max-width: 992px) {
    .advantage-item.--nowrap-slider .advantage-item__swiper {
        overflow: visible;
    }
    .advantage-item.--nowrap-slider .advantage-item__slide-title {
        font-size: 16px;
        max-width: 245px;
    }
}

@media (max-width: 797px) {

}
@media (max-width: 769px) {
    .advantage-item.--nowrap-slider .advantage-item__slider {
       padding: 0px 30px;
    }
}

@media (max-width: 651px) {
    .advantage-item.--nowrap-slider .advantage-item__slide-title {
        font-size: 14px;
        line-height: 120%;
        max-width: 210px;
    }
}

@media (max-width: 551px) {
}

@media (max-width: 431px) {
    .advantage-item.--nowrap-slider .advantage-item__slide-title {
        font-size: 12px;
        max-width: 180px;
    }
    .advantage-item.--nowrap-slider .advantage-item__slide-img-wrap {
        max-width: none;
        width: 100%;
        height: 230px;
    }
}


/* БЛОК "ОТ 3 ДО 5 ЛЕТ" */
.child-age {
}
.main__reviews {
}
.child-age__container {
}
.child-age__title {
}
.child-age__content {
}
.child-age__content-inner {
    padding: 40px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: #F6F6F6;
    border-radius: 24px;
}
.child-age__content-title {
    font-size: 24px;
    line-height: 130%;
    max-width: 607px;
}
.child-age__slider {
    position: relative;
    width: 100%;
}
.child-age__swiper {
}
.child-age__swiper-wrapper {
    align-items: stretch;
}
.child-age__swiper-slide {
    height: auto;
    display: flex;  
}
.child-age__slide {
    user-select: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;
    flex-grow: 1;
}
.child-age__slide-img-wrap {
    height: 300px;
    width: 381px;
    overflow: hidden;
    border-radius: 16px;
    position: relative;
    cursor: pointer;
}
.child-age__slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.child-age__slide-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.child-age__slide-pre-title {
    font-size: 20px;
    line-height: 120%;
    color: #4E6932;
    margin-bottom: 16px;
}
.child-age__slide-text {
    font-size: 16px;
    line-height: 130%;
}
.child-age__swiper-controls {
    display: none;
    justify-content: space-between;
    width: 100%;
}
.child-age__swiper-pagination {
    display: none;
    font-size: 32px;
    line-height: 120%;
    color: #CFCFCF;
    width: auto;
}
.child-age__swiper-navigation {
}
.child-age__swiper-button-prev {
}
.child-age__swiper-button-next {
}

@media (max-width: 1361px) {
    .child-age__content-inner {
        padding: 35px;
        gap: 35px;
    }
    .child-age__content-title {
        font-size: 22px;
        max-width: 570px;
    }
    .child-age__slide{
        gap: 20px;
    }
    .child-age__slide-img-wrap {
        height: auto;
        width: auto;
        aspect-ratio: 381 / 300;
    }
    .child-age__slide-pre-title {
        font-size: 18px;
        margin-bottom: 16px;
    }
    .child-age__slide-text {
        font-size: 15px;
    }
}

@media (max-width: 992px) {
    .child-age__swiper-controls {
        display: flex;
    }
    .child-age__content-inner {
        padding: 30px;
        gap: 30px;
    }
    .child-age__swiper-navigation {
        top: -85px;
    }
}

@media (max-width: 797px) {
    .child-age__content-title {
        font-size: 20px;
    }
    .child-age__swiper-navigation {
        top: -79px;
    }
}
@media (max-width: 769px) {
    .child-age__container {
        padding: 0px;
    }
    .child-age__content-inner {
        padding: 30px;
        gap: 35px;
    }
    .child-age__title {
        padding-left: 30px;
    }
    .child-age__content-title {
        max-width: 400px;
    }
    .child-age__slide {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .reviews__swiper-navigation {
        top: -80px;
    }

}

@media (max-width: 651px) {
    .child-age__slide {
        gap: 24px;
        width: 100%;
    }
    .child-age__slide-img-wrap {
        width: 100%;
    }
    .child-age__slide-pre-title {
        max-width: 350px;
        font-size: 20px;
    }
    .child-age__slide-text {
        font-size: 16px;
    }
}

@media (max-width: 551px) {
    .child-age__slide-img-wrap {
        height: 320px;
        width: 100%;
    }
    .child-age__content-inner {
        padding: 0px;
        gap: 30px;
        background-color: transparent;
    }
    .child-age__content-title {
        padding-left: 30px;
    }
    .child-age__slider {
        max-height: none;
        background-color: #F6F6F6;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 24px;
    }
    .child-age__swiper-controls {
        margin-bottom: 30px;
        justify-content: flex-end;
    }
    .child-age__swiper-pagination {
        display: block;
        bottom: auto!important;
        top: 350px!important;
    }
    .child-age__swiper-navigation {
        position: static;
    }
    .child-age__swiper-button-prev, .child-age__swiper-button-next {
        position: static;
    }
}

@media (max-width: 431px) {
    .child-age__slide-img-wrap {
        height: 300px;
    }
    .child-age__swiper-controls {
        margin-bottom: 20px;
    }
    .child-age__swiper-pagination {
        top: 327px !important;
    }
    .child-age__swiper-navigation {
        gap: 5px;
    }
}
