/* БЛОК ИЗ ЧЕГО СОСТОИТ */
.consists {}

.center-advantages__consists {}

.consists__container {
    display: flex;
    flex-direction: column;
}

.consists__desc {
    display: flex;
    gap: 60px;
    margin-bottom: 80px;
}

.consists__desc__title {
    max-width: 610px;
    width: 100%;
    margin-bottom: 0;
}

.consists__desc-elements {
    display: flex;
    flex-direction: column;
    max-width: 528px;
    width: 100%;
}

.consists__desc-pre-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 130%;
    margin-bottom: 40px;
}

.consists__desc-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
}

.consists__desc-text:not(:last-child) {
    margin-bottom: 24px;
}

.consists__content {}

.consists__slider {}

.consists__slider .--video-poster::before {
    height: 88px;
    width: 88px;
}

.consists__swiper {}

@media (min-width: 992px) {
    .consists__swiper-wrapper {
        flex-wrap: wrap;
        gap: 40px 60px;
    }

    .consists__swiper-slide {
        width: 100% !important;
        flex: 1 1 calc(50% - 60px);
    }
}

.consists__slide {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.consists__slide-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    color: #4E6932;
}

.consists__slide-img-wrap {
    width: 100%;
    height: 540px;
    border-radius: 16px;
    overflow: hidden;
}

.consists__slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.consists__swiper-controls {
    display: none;
}

.consists__swiper-pagination {
    display: none;
}

.consists__swiper-navigation {}

.consists__swiper-button-prev {}

.consists__swiper-button-next {}

@media (max-width: 1361px) {
    .consists__slide-img-wrap {
        height: auto;
        max-height: 540px;
        aspect-ratio: 610 / 540;
    }

    .consists__slide-title {
        font-size: 18px;
    }
}

@media (max-width: 1281px) {
    .consists__desc {
        gap: 50px;
        margin-bottom: 70px;
    }

    .consists__desc-pre-title {
        font-size: 22px;
        margin-bottom: 35px;
    }
}

@media (max-width: 992px) {
    .consists__desc__title {
        max-width: 400px;
    }

    .consists__desc {
        gap: 40px;
        margin-bottom: 60px;
    }

    .consists__desc-pre-title {
        font-size: 22px;
        margin-bottom: 30px;
    }

    .consists__desc-text {
        font-size: 15px;
    }

    .consists__desc-text:not(:last-child) {
        margin-bottom: 20px;
    }

    .consists__swiper {
        overflow: visible;
    }

    .consists__slide-title {
        font-size: 16px;
    }
}

@media (max-width: 769px) {
    .consists__container {
        padding: 0px;
    }

    .consists__desc__title {
        max-width: 610px;
    }

    .consists__desc {
        flex-direction: column;
        gap: 50px;
        margin-bottom: 50px;
        padding: 0px 30px;
    }

    .consists__desc-pre-title {
        margin-bottom: 25px;
    }

    .consists__desc-text {
        font-size: 16px;
    }

    .consists__content {
        padding: 0px 30px;
    }

    .consists__slide-img-wrap {
        max-height: 450px;
        aspect-ratio: 610 / 518;
    }
}

@media (max-width: 651px) {
    .consists__desc {
        gap: 48px;
        margin-bottom: 48px;
    }

    .consists__desc-text:not(:last-child) {
        margin-bottom: 22px;
    }
}

@media (max-width: 551px) {
    .consists__desc {
        gap: 45px;
        margin-bottom: 45px;
    }

    .consists__desc-pre-title {
        font-size: 20px;
        line-height: 120%;
    }

    .consists__desc-text {
        font-size: 15px;
    }

    .consists__desc-text:not(:last-child) {
        margin-bottom: 24px;
    }

    .consists__slide-title {
        font-size: 14px;
        line-height: 130%;
    }
}

@media (max-width: 431px) {
    .consists__desc-pre-title {
        margin-bottom: 30px;
    }

    .consists__desc-text {
        font-size: 14px;
    }

    .consists__slide-title {
        font-size: 12px;
    }
}


/* БЛОК С ДВОЙНЫМ СЛАЙДЕРОМ (ОПИСАНИЕ ВНЕШНИХ СОСТАВЛЯЮЩИХ ДЕТСКОГО САДА) */
.outer-consists {
    padding-top: 0;
}

.main__outer-consists {}

.outer-consists__container {
    padding-top: 120px;
}

.outer-consists__content {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.outer-consists__item {}

.outer-consists__item:nth-of-type(even) .double-slider__text-slider {
    order: 2;
}

@media (max-width: 1361px) {
    .outer-consists {
        padding-top: 80px;
    }

    .outer-consists__container {
        padding-top: 0px;
    }
}

@media (max-width: 1281px) {}

@media (max-width: 992px) {
    .outer-consists__item:nth-of-type(even) .double-slider__text-slider {
        order: 1;
    }

    .outer-consists__item:nth-of-type(even) .double-slider__img-sliders {
        order: 2;
    }

    .outer-consists__content {
        gap: 75px;
    }
}

@media (max-width: 769px) {
    .outer-consists {
        padding-top: 107px;
    }

    .outer-consists__container {
        padding: 0px;
    }

    .outer-consists__content {
        gap: 70px;
    }
}

@media (max-width: 651px) {
    .outer-consists {
        padding-top: 104px;
    }
}

@media (max-width: 551px) {
    .outer-consists {
        padding-top: 95px;
    }

    .outer-consists__content {
        gap: 65px;
    }
}

@media (max-width: 431px) {
    .outer-consists {
        padding-top: 90px;
    }

    .outer-consists__content {
        gap: 60px;
    }
}


/* БЛОК РЕЖИМ ДНЯ */
.daily-schedule {}

.daily-schedule__container {}

.daily-schedule__title {}

.daily-schedule__body {}

.daily-schedule__items {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.daily-schedule__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.daily-schedule__item-bg-image-wrap {
    position: absolute;
    top: 43px;
    right: 423px;
    max-width: 187px;
    max-height: 187px;
    z-index: 1;
}

.daily-schedule__item-bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.daily-schedule__times {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    max-width: 610px;
}

.daily-schedule__time-item {
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 8.5px 0px;
    font-size: 16px;
    line-height: 130%;
}

.daily-schedule__time-parts {
    display: flex;
    align-items: center;
    gap: 8px;
}

.daily-schedule__time-start {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 77px;
    padding: 8px 0px;
    border-radius: 12px;
    background-color: #4E6932;
    font-weight: 600;
    color: #FFF;
}

.daily-schedule__time-divider {
    height: 2px;
    width: 15px;
    background-color: #CFCFCF;
}

.daily-schedule__time-end {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 77px;
    padding: 8px 0px;
    border-radius: 12px;
    background-color: #BACC92;
    font-weight: 600;
    color: #FFF;
}

.daily-schedule__time-text {}

.daily-schedule__video-poster-wrap {
    position: relative;
    z-index: 5;
    max-width: 399px;
    max-height: 270px;
    border-radius: 24px;
    overflow: hidden;
}

.daily-schedule__video-poster-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1361px) {}

@media (max-width: 1281px) {
    .daily-schedule__item-bg-image-wrap {
        right: 413px;
        max-width: 143px;
    }

    .daily-schedule__time-item {
        gap: 40px;
        padding: 8.5px 0px;
    }
}

@media (max-width: 992px) {
    .daily-schedule__item {
        gap: 40px;
    }

    .daily-schedule__item-bg-image-wrap {
        right: 294px;
        max-width: 100px;
    }

    .daily-schedule__time-item {
        gap: 20px;
        padding: 7px 0px;
        font-size: 15px;
    }

    .daily-schedule__time-start {
        width: 72px;
    }

    .daily-schedule__time-end {
        width: 72px;
    }

    .daily-schedule__video-poster-wrap {
        max-width: 290px;
    }
}

@media (max-width: 769px) {
    .daily-schedule__items {
        gap: 15px;
    }

    .daily-schedule__item-bg-image-wrap {
        top: 5px;
        right: 30px;
        opacity: 0.5;
        max-width: 170px;
    }

    .daily-schedule__time-start {
        width: 65px;
    }

    .daily-schedule__time-end {
        width: 65px;
    }

    .daily-schedule__video-poster-wrap {
        display: none;
    }
}

@media (max-width: 651px) {
    .daily-schedule__time-item {
        gap: 20px;
        padding: 5px 0px;
        font-size: 15px;
    }
}

@media (max-width: 551px) {
    .daily-schedule__item-bg-image-wrap {
        top: 0px;
        right: 0px;
        opacity: 0.5;
        max-width: 120px;
    }

    .daily-schedule__time-divider {
        display: none;
    }

    .daily-schedule__time-end {
        display: none;
    }
}

@media (max-width: 431px) {
    .daily-schedule__item-bg-image-wrap {
        max-width: 90px;
    }

    .daily-schedule__time-item {
        font-size: 14px;
    }

    .daily-schedule__time-start {
        width: 60px;
    }
}


/* ГРУППА БЛОКОВ ОПИСЫВАЮЩИХ СТИЛЬ ЖИЗНИ (ЗДОРОВОЕ ПИТАНИЕ, ПРОГУЛКИ С ПОЛЬЗОЙ, МЕДИЦИНСКОЕ СОПРОВОЖДЕНИЕ) */
.lifestyle {
    position: relative;
    z-index: 3;
}

.lifestyle__main {}

.lifestyle__background-img {
    position: absolute;
    top: -419px;
    left: 0px;
    z-index: 3;
}

.lifestyle__items {
    position: relative;
    z-index: 5;
}

.lifestyle__block-item {}


/* БЛОКИ ВНУТРИ ГРУППЫ СТИЛЬ ЖИЗНИ */
.lifestyle-item {}

.lifestyle-item:nth-of-type(even) .lifestyle-item__slider {
    order: 2;
}

.lifestyle-item:nth-of-type(even) .lifestyle-item__body {
    order: 1;
}

.lifestyle-item__container {
    display: flex;
    gap: 92px;
}

.lifestyle-item__container {}

.lifestyle-item__slider {
    max-height: 600px;
    max-width: 560px;
    position: relative;
}

.lifestyle-block__swiper-controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.lifestyle-block__swiper-navigation {
    top: 50%;
    width: 100%;
}

.lifestyle-block__swiper-navigation .swiper-button-prev {
    right: 20px;
}

.lifestyle-block__swiper-navigation .swiper-button-next {
    left: 20px;
}

.lifestyle-block__swiper-navigation .swiper-button-prev,
.lifestyle-block__swiper-navigation .swiper-button-next {
    height: 52px;
    width: 52px;
}

.lifestyle-item__swiper {}

.lifestyle-item__swiper-wrapper {}

.lifestyle-item__swiper-slide {
    border-radius: 24px;
    overflow: hidden;
}

.lifestyle-item__slide {
    max-width: 560px;
    max-height: 600px;
}

.lifestyle-item__slide-img-wrap {
    height: 600px;
    width: 560px;
}

.lifestyle-item__slide-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.lifestyle-item__texts>.swiper-navigation {
    top: auto;
    bottom: 0;
    left: 0;
    right: auto;
    display: flex;
    position: relative;
}

.lifestyle-item__swiper-button-prev,
.lifestyle-item__swiper-button-next {
    top: auto;
    position: static;
    bottom: 0;
}

.lifestyle-item__swiper-button-prev {}

.lifestyle-item__swiper-button-next {}

.lifestyle-item__swiper-pagination {
    position: absolute;
    bottom: 32px !important;
}

.lifestyle-item__body {
    position: relative;
}

.lifestyle-item__title {
    margin-bottom: 80px;
}

.lifestyle-item__texts {
    max-width: 562px;
}

.lifestyle-item__pre-title {
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 40px;
}

.lifestyle-item__text {
    font-size: 16px;
    line-height: 130%;
    max-width: 518px;
    margin-bottom: 48px;
}

.lifestyle-item__swiper-notes {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.lifestyle-item__footnote {
    font-size: 14px;
    line-height: 130%;
    color: #4E6932;
}

.lifestyle-item__swiper-navigation {
    position: static;
}

.lifestyle-item__pre-title-mobile {
    display: none;
}

.lifestyle-item__footnote-mobile {
    display: none;
}

@media (max-width: 1341px) {}

@media (max-width: 1281px) {
    .lifestyle-item__container {
        gap: 78px;
    }

    .lifestyle-item__slider {
        max-height: 580px;
        max-width: 500px;
    }

    .lifestyle-item__slide {
        max-width: none;
        max-height: none;
        width: 100%;
        height: 100%;
    }

    .lifestyle-item__slide-img-wrap {
        width: 100%;
        height: 100%;
    }

    .lifestyle-item__title {
        margin-bottom: 60px;
        font-size: 38px;
    }

    .lifestyle-item__texts {
        max-width: 490px;
    }

    .lifestyle-item__pre-title {
        font-size: 22px;
        margin-bottom: 35px;
    }

    .lifestyle-item__text {
        font-size: 15px;
        margin-bottom: 45px;
    }

    .lifestyle-item__swiper-notes {
        gap: 18px;
    }
}

@media (max-width: 1100px) {
    .lifestyle-item__container {
        gap: 50px;
        justify-content: space-between;
    }
}

@media (max-width: 992px) {
    .lifestyle-item__container {
        gap: 50px;
        flex-direction: column;
    }

    .lifestyle-item .lifestyle-item__slider {
        order: 2;
    }

    .lifestyle-item .lifestyle-item__body {
        order: 1;
    }

    .lifestyle-item__slider {
        max-height: none;
        max-width: none;
        width: 100%;
    }

    .lifestyle-block__swiper-navigation {
        display: none;
    }

    .lifestyle-item__swiper {
        overflow: visible;
    }

    .lifestyle-item__swiper-pagination {
        display: none;
    }

    .lifestyle-item__slide {
        height: auto;
        width: auto;
        aspect-ratio: 560 / 600;
    }

    .lifestyle-item__title {
        margin-bottom: 50px;
        font-size: 35px;
    }

    .lifestyle-item__texts {
        max-width: 640px;
    }

    .lifestyle-item__text {
        max-width: none;
    }
}

@media (max-width: 769px) {
    .lifestyle-item__container {
        padding: 0px;
    }

    .lifestyle-item__body {
        padding: 0px 30px;
    }

    .lifestyle-item__title {
        font-size: 46px;
    }

    .lifestyle-item__slider {
        padding: 23px 30px 30px 30px;
        background-color: #F8F8F8;
    }

    .lifestyle-item__swiper {
        margin-bottom: 30px;
    }

    .lifestyle-item__slide {
        aspect-ratio: 628 / 540;
    }

    .lifestyle-item__pre-title-mobile {
        display: block;
        font-size: 20px;
        line-height: 130%;
        color: #4E6932;
    }

    .lifestyle-item__footnote-mobile {
        display: block;
    }

    .lifestyle-item__swiper-navigation {
        display: none;
    }

    .lifestyle-item__footnote-mobile {
        font-size: 15px;
        line-height: 130%;
        color: #4E6932;
        margin-bottom: 18px;
    }

    .lifestyle-item__pre-title {
        display: none;
    }

    .lifestyle-item__text {
        margin-bottom: 0;
    }

    .lifestyle-item__footnote {
        display: none;
    }
}

@media (max-width: 651px) {
    .lifestyle-item__swiper {
        margin-bottom: 25px;
    }

    .lifestyle-item__title {
        font-size: 38px;
        margin-bottom: 48px;
    }

    .lifestyle-item__container {
        gap: 48px;
    }
}

@media (max-width: 551px) {
    .lifestyle-item__swiper {
        margin-bottom: 20px;
    }

    .lifestyle-item__footnote-mobile {
        font-size: 14px;
        margin-bottom: 16px;
        max-width: 260px;
    }

    .lifestyle-item__container {
        gap: 45px;
    }

    .lifestyle-item__title {
        font-size: 35px;
        margin-bottom: 45px;
    }

    .lifestyle-item__text {
        font-size: 14px;
    }
}

@media (max-width: 431px) {
    .lifestyle-item__title {
        font-size: 32px;
    }
}


/* БЛОК ДЛЯ ОПИСАНИЯ БЛОКОВ С ВЫПАДАЮЩИМ ТЕКСТОМ ПО КНОПКЕ */
.avantage-descripion {
    display: flex;
    margin-bottom: 80px !important;
}

.avantage-descripion__title {
    margin-bottom: 0px;
    margin-right: 72px;
    max-width: 580px;
    width: 100%;
}

.avantage-descripion__texts {
    margin-top: 7px;
    margin-right: 20px;
    width: 100%;
}

.avantage-descripion__pre-title {
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 24px;
    max-width: 424px;
}

.avantage-descripion__pre-title-mobile {
    display: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
    color: #4E6932;
}

.avantage-descripion__accordion {}

.avantage-descripion__accordion-content {
    max-width: 410px;
}

.avantage-descripion__accordion-content-visible {}

.avantage-descripion__accordion-visible-text {
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 24px;
}

.avantage-descripion__accordion-button {
    padding-top: 17px;
    padding-bottom: 17px;
}

.avantage-descripion__accordion-button:hover .avantage-description__accordion-button-img {
    transform: rotate(90deg);
}

.avantage-description__accordion-button-img {
    transition: transform .2s;
}

.avantage-descripion__accordion-content-hidden {
    font-size: 16px;
    line-height: 130%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 600ms;
}

.avantage-descripion__accordion-content-hidden.open+.avantage-descripion__accordion-button:hover .avantage-description__accordion-button-img {
    transform: rotate(-90deg);
}

@media (max-width: 1341px) {
    .avantage-descripion__pre-title {
        font-size: 22px;
    }

    .avantage-descripion__accordion-visible-text,
    .avantage-descripion__accordion-content-hidden {
        font-size: 15px;
    }

    .preparing-child__description {
        margin-bottom: 70px;
    }
}

@media (max-width: 1281px) {
    .avantage-descripion {
        margin-bottom: 60px !important;
    }
}

@media (max-width: 992px) {}

@media (max-width: 902px) {
    .avantage-descripion__title {
        margin-right: 0px;
    }

    .avantage-descripion {
        margin-bottom: 50px !important;
        gap: 50px;
        flex-direction: column;
    }

    .avantage-descripion__texts {
        margin-top: 0px;
        margin-right: 00px;
    }

    .avantage-descripion__pre-title {
        font-size: 24px;
        line-height: 130%;
        margin-bottom: 24px;
        max-width: 580px;
    }

    .avantage-descripion__accordion-content {
        max-width: 580px;
    }

    .avantage-descripion__pre-title {
        font-size: 20px;
        margin-bottom: 28px;
    }
}

@media (max-width: 769px) {
    .avantage-descripion__pre-title {
        display: none;
    }

    .avantage-descripion__pre-title-mobile {
        display: block;
    }

    .avantage-descripion__accordion-content-visible {
        display: flex;
        flex-direction: column;
    }

    .avantage-descripion__accordion-button {
        align-self: center;
    }

}

@media (max-width: 651px) {
    .avantage-descripion {
        margin-bottom: 48px !important;
        gap: 48px;
    }
}

@media (max-width: 551px) {
    .avantage-descripion {
        margin-bottom: 45px !important;
        gap: 45px;
    }

    .avantage-descripion__accordion-visible-text,
    .avantage-descripion__accordion-content-hidden {
        font-size: 14px;
    }
}

@media (max-width: 431px) {}


/* БЛОК ВСЕСТОРОННЕЕ РАЗВИТИЕ */
.development {
    position: relative;
}

.main__development {}

.development__background-img {
    position: absolute;
    top: 318px;
    left: 0px;
    z-index: 3;
}

.development__container {
    position: relative;
    z-index: 5;
}

.development__description {
    margin-bottom: 50px;
}

.development__content {}

.development__slider {
    max-width: 1280px;
    width: 100%;
    margin-bottom: 24px;
}

.development__swiper {}

.development__swiper-wrapper {}

.development__swiper-slide {}

.development__slide {}

.development__image-card-title {
    line-height: 130%;
    color: #4E6932;
    text-transform: lowercase;
    padding: 4px 0px;
    margin-bottom: 20px;
}

.development__image-card-img-wrap {
    height: 540px;
    width: 100%;
    border-radius: 24px;
    overflow: hidden;
}

.development__image-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.development__buttons {
    border-radius: 24px;
    background-color: rgba(248, 248, 248, 1);
    padding: 40px 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.development__button {
    flex: 1 0 calc(33.333% - 24px);
    max-width: 389px;
    padding: 32px 40px;
    background-color: #FFF;
    border-radius: 16px;
    font-size: 20px;
    text-transform: capitalize;
    justify-content: flex-start;
    position: relative;
}

.development__button_isIndivid {
    position: relative;
}

.development__button_isIndivid::after {
    content: 'индивидуально';
    display: flex;
    align-items: center;
    padding: 3px 16px;
    font-size: 13px;
    line-height: 18px;
    text-transform: lowercase;
    background-color: #FFF;
    border: 1px solid rgba(78, 105, 50, 1);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
    border-radius: 100px;
    transform: rotate(2deg);
    position: absolute;
    top: 0;
    right: -10px;
}

.development__button-img {
    margin-right: 40px;
    height: 32px;
    width: 32px;
}

.development__button:hover,
.development__button:focus,
.development__button:active,
.development__button.active {
    color: #4E6932 !Important;
    background-color: #C7D8A5 !Important;
}

.development__image-card-img-wrap {
    height: 480px;
    width: 100%;
    border-radius: 24px;
    overflow: hidden;
}

.development__slide-popup {
    display: none;
    /* opacity: 0;
    position: absolute;
    bottom: -145px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    line-height: 120%;
    color: #4E6932;
    padding: 20px;
    border-radius: 16px;
    background: #FFF;
    text-transform: none;
    text-align: start;
    transition: opacity .5s ease-in;
    z-index: 1000;
    max-width: 351px;
    width: 100%;*/
}

/* .development__button:hover .development__slide-popup {
    display: block;
    opacity: 1;
} */

@media (max-width: 1341px) {}

@media (max-width: 1281px) {
    .development__image-card-img-wrap {
        height: 480px;
    }
}

@media (max-width: 992px) {
    .development__image-card-img-wrap {
        height: 430px;
    }

    .development__buttons {
        padding: 30px 22px;
        gap: 18px;
    }

    .development__button {
        flex: 1 1 calc(50% - 18px);
        max-width: none;
        padding: 24px 31px;
    }
}

@media (max-width: 769px) {
    .development__container {
        padding: 0px;
    }

    .development__description {
        padding: 0px 30px;
    }

    .development__content {
        display: flex;
        flex-direction: column;
    }

    .development__slide-popup {
        font-size: 16px;
        padding: 15px;
        bottom: -95px;
    }

    .development__slider {
        margin-bottom: 0px;
        order: 2;
        padding: 30px;
        background-color: rgba(248, 248, 248, 1);
    }

    .development__image-card-title {
        padding: 0px;
        margin-bottom: 18px;
    }

    .development__buttons {
        padding: 0px 30px;
        gap: 18px;
        background-color: transparent;
        order: 1;
        margin-bottom: 50px;
    }

    .development__button {
        flex: 1 1 calc(100% - 18px);
        font-size: 18px;
        text-transform: uppercase;
        padding: 20px 25px;
        justify-content: center;
        border: 1px solid rgba(78, 105, 50, 1);
    }

    .development__button:hover,
    .development__button:focus,
    .development__button:active,
    .development__button.active {
        border: 1px solid #C7D8A5 !important;
    }

    .development__button-img {
        margin-right: 20px;
    }
}

@media (max-width: 651px) {
    .development__image-card-img-wrap {
        height: 390px;
    }

    .development__buttons {
        gap: 20px;
        margin-bottom: 48px;
    }

    .development__button {
        font-size: 16px;
        padding: 18px;
    }

    .development__slide-popup {
        font-size: 15px;
        bottom: -95px;
    }
}

@media (max-width: 551px) {
    .development__image-card-img-wrap {
        height: 275px;
    }

    .development__buttons {
        margin-bottom: 45px;
    }

    .development__image-card-title {
        margin-bottom: 16px;
    }

    .development__button {
        font-size: 16px;
        padding: 9px;
    }

    .development__slide-popup {
        font-size: 14px;
        bottom: -110px;
        max-width: 250px;
    }

    .development__button_isIndivid::after {
        transform: rotate(4deg);
        top: -10px;
    }
}

@media (max-width: 431px) {}


/* БЛОК КАК К НАМ ПОПАСТЬ */
.how-to-get {}

.how-to-get__container {}

.how-to-get__title {}

.how-to-get__items {
    display: flex;
    gap: 60px;
}

.how-to-get__item {
    padding: 32px;
    background-color: #F6F6F6;
    border-radius: 16px;
    flex: 1 1 25%;
    height: 300px;
    position: relative;
}

.how-to-get__item-icon-wrap {
    position: absolute;
    top: 32px;
    right: 32px;
    max-width: 100px;
    max-height: 100px;
}

.how-to-get__item-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.how-to-get__item-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 54px;
}

.how-to-get__item-number {
    font-size: 32px;
    font-weight: 500;
    line-height: 120%;
    color: #CFCFCF;
}

.how-to-get__item-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    color: #303030;
}

@media (max-width: 1341px) {
    .how-to-get__items {
        gap: 40px;
    }

    .how-to-get__item {
        height: auto;
    }
}

@media (max-width: 1281px) {
    .how-to-get__items {
        gap: 20px;
    }

    .how-to-get__item-icon-wrap {
        max-width: 80px;
        max-height: 80px;
    }
}

@media (max-width: 1120px) {
    .how-to-get__item-text {
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    .how-to-get__items {
        gap: 50px;
        flex-wrap: wrap;
    }

    .how-to-get__item {
        flex: 1 1 calc(50% - 50px);
    }

    .how-to-get__item-icon-wrap {
        max-width: 100px;
        max-height: 100px;
    }

    .how-to-get__item-text {
        font-size: 16px;
    }
}

@media (max-width: 769px) {
    .how-to-get__items {
        gap: 45px;
    }

    .how-to-get__item {
        flex: 1 1 calc(50% - 45px);
    }
}

@media (max-width: 651px) {
    .how-to-get__item {
        flex: 1 1 calc(100% - 45px);
        min-height: 240px;
    }
}

@media (max-width: 551px) {}

@media (max-width: 431px) {}