/* ПЕРВЫЙ БЛОК */
.top-block {
    padding-top: 28px;
    position: relative;
}
.top-block__background-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
@media (width <= 1318px) {
    [class$="background-img"] {
        display: none;
    }
}
.main__top-block {
}
.top-block__container {
    display: flex;
    gap: 24px;
    position: relative;
    z-index: 5;
}
.top-block__body {
}
.top-block__title {
    font-size: 36px;
    line-height: 120%;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 6px;
    margin-bottom: 35px;
}
.top-block__location {
    font-size: 14px;
    line-height: 130%;
    display: inline-flex;
    align-items: flex-end;
    text-transform: capitalize;
}
.top-block__location-img {
    margin-right: 5px;
    margin-bottom: 1.5px;
    display: inline-block;
    height: 24px;
    width: 24px;
    vertical-align: top;
}
.top-block__location-text {
}
.top-block__list {
    margin-bottom: 70px;
}
.top-block__list-item::before {
    content: '';
    position: relative;
    display: inline-block;
    height: 12px;
    width: 12px;
    background-color: #030303;
    top: 1px;
    left: 0;
    margin-right: 20px;
    border-radius: 50%;
}
.top-block__list-item {
    font-size: 16px;
    line-height: 100%;
    color: #030303;
}
.top-block__list-item:not(:last-child) {
    margin-bottom: 18px;
}
.top-block__list-item::first-letter {
    text-transform: uppercase;
}
.top-block__links {
    display: flex;
    gap: 24px;
}
.top-block__link {
    width: 302px;
    height: 168px;
    font-family: 'Jost';
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    background-color: #F8F8F8;
    padding: 20px;
    border-radius: 24px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    position: relative;
}
.top-block__link::after {
    content: url('../../assets/images/icons/arrow-black.svg');
    padding: 8.5px;
    background-color: #FFF;
    border-radius: 50%;
    height: 43px;
    transform: rotate(-45deg);
    box-shadow: -2px 4px 4px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 16px;
    right: 15px;
    z-index: 5;
}
.top-block__link:hover {
    color: #030303;
    background-color: #C9DAA4;
}
.top-block__link.active {
    background-color: #C9DAA4;
}
.top-block__link.active::before {
    content: '';
    display: inline-block;
    height: 220%;
    width: 300%;
    position: absolute;
    top: -180px;
    left: -20px;
    background: url('../../assets/images/patterns.png') 100% / cover;
    z-index: 2;
    opacity: .1;
}
.top-block__right-content {
    width: 628px;
    max-height: 560px;
    max-width: 628px;
}
.top-block__right-content > .top-block__title {
    display: none;
}
.top-block__wrap-img {
    max-height: 560px;
    max-width: 628px;
    border-radius: 24px;
    background: url('../../assets/images/pages/main/top-block/top-block-img.png') 100% no-repeat;
    background-size: cover;
    height: 560px;
    width: 100%;
}

@media (width < 1341px) {

}
@media (width < 1281px) {
    .top-block__title {
        font-size: 34px;
        margin-top: 4px;
        margin-bottom: 30px;
    }
    .top-block__list-item {
        font-size: 16px;
    }
    .top-block__list-item:not(:last-child) {
        margin-bottom: 16px;
    }
    .top-block__list-item::before {
        height: 10px;
        width: 10px;
        margin-right: 18px;
    }
    .top-block__list {
        margin-bottom: 60px;
    }
    .top-block__link {
        width: 240px;
        height: 120px;
        font-size: 16px;
    }
    .top-block__right-content {
        width: 100%;
        max-height: 560px;
        max-width: none;
    }
    .top-block__wrap-img {
        max-height: 481px;
        max-width: none;
        width: 100%;
    }
}
@media (width < 992px) {
    .top-block__container {
        gap: 45px;
        flex-direction: column-reverse;
    }
    .top-block__body {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        align-items: center;
    }
    .top-block__title {
        font-size: 36px;
        margin-top: 0px;
    }
    .top-block__body > .top-block__title {
        display: none;
    }
    .top-block__list {
        margin-bottom: 0px;
    }
    .top-block__list-item {
        font-size: 17px;
    }
    .top-block__links {
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
    .top-block__link {
        display: flex;
        justify-content: center;
        width: auto;
        text-align: center;
        height: auto;
        font-size: 16px;
        padding:  19px 20px;
    }
    .top-block__link > br {
        display: none;
    }
    .top-block__link::after {
        display: none;
    }
    .top-block__right-content {
        max-height: none;
    }
    .top-block__right-content > .top-block__title {
        display: block;
        margin-bottom: 35px;
    }
    .top-block__link.active::before {
        height: 200%;
        width: 335%;
        top: -34px;
    }
}
@media (width < 903px) {
    .top-block__link {
        width: 218px;
    }
}
@media (width < 769px) {
    .top-block__container {
        gap: 34px;
    }
    .top-block__body {
        gap: 68px;
        flex-direction: column;
    }
    .top-block__list {
        margin-bottom: 0;
    }
    .top-block__list-item::before {
        margin-right: 12px;
    }
    .top-block__list-item:not(:last-child) {
        margin-bottom: 30px;
    }
    .top-block__links {
        gap: 18px;
        width: 100%;
    }
    .top-block__link {
        width: 100%;
    }
    .top-block__right-content > .top-block__title {
        font-size: 30px;
        margin-bottom: 35px;
    }
    .top-block__wrap-img {
        max-height: 390px;
    }
}
@media (width < 651px) {
    .top-block__body {
        gap: 61px;
    }
    .top-block__right-content > .top-block__title {
        font-size: 27px;
    }
    .top-block__wrap-img {
        max-height: 330px;
    }
    .top-block__right-content > .top-block__title {
        margin-bottom: 35px;
    }
    .top-block__list-item {
        font-size: 15px;
    }
    .top-block__list-item:not(:last-child) {
        margin-bottom: 23px;
        margin-right: 0px;
    }
}
@media (width < 551px) {
    .top-block__container {
        gap: 28px;
    }
    .top-block__body {
        gap: 54px;
    }
    .top-block__right-content > .top-block__title {
        margin-bottom: 40px;
    }
    .top-block__right-content > .top-block__title {
        font-size: 22px;
    }
    .top-block__list-item {
        font-size: 14px;
    }
    .top-block__list-item:not(:last-child) {
        margin-bottom: 14px;
        margin-right: 0px;
    }
    .top-block__list-item::before {
        margin-right: 13px;
    }
    .top-block__links {
        gap: 15px;
    }
    .top-block__wrap-img {
        max-height: 275px;
    }
}

@media (width < 431px) {
    .top-block__title {
        font-size: 22px;
    }
}

@media (width <= 768px) {
    .top-block {
        padding-top: calc(28px + 94px);
    }
}
@media (width <= 600px) {
    .top-block {
        padding-top: calc(28px + 83.4px);
    }
}
@media (width <= 430px) {
    .top-block {
        padding-top: calc(28px + 79.9px);
    }
}


/* БЛОК НАШИ ФИЛИАЛЫ */
.branches {
    padding-top: 120px;
    position: relative;
}
.branches__background-img {
    position: absolute;
    top: 35%;
    right: 0;
    z-index: 3;
}
.main__branches {
}
.branches__container {
    position: relative;
    z-index: 5;
}
.branches__title {
}
.branches__body {
    display: flex;
    gap: 16px;
}
.branches__buttons {
    width: 100%;
    max-width: 286px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.branches__button {
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    line-height: 100%;
    padding-top: 13px;
    padding-bottom: 13px;
}
.branches__contents {
    width: 100%;
}
.branches__content-item {
    display: none;
}
.branches__content-item.active {
    display: flex;
    gap: 16px;
}
.branches__info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
    border-radius: 24px;
    background-color: #F8F8F8;
    width: 100%;
    max-width: 590px;
}
.branches__address {
    display: flex;
    align-items: center;
    gap: 12px;
}
.branches__address-icon {
    height: 26px;
    width: 26px;
}
.branches__address-text {
    font-size: 24px;
    line-height: 130%;
    color: #4E6932;
}
.branches__texts {
    font-size: 16px;
    line-height: 130%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.branches__text {
}
.branches__price {
    font-weight: 600;
}
.branches__info-buttons {
    display: flex;
    gap: 40px;
    max-height: 52px;
}
.branches__info-button {
    max-width: 248px;
    width: 100%;
}
.branches__info-link {
}
.branches__info-link-img {
}
.branches__img-wrap {
    max-height: 300px;
    max-width: 372px;
    width: 100%;
    border-radius: 24px;
    overflow: hidden;
}
.branches__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (width < 1281px) {
    .branches__body {
        gap: 30px;
        flex-direction: column;
    }
    .branches__buttons {
        flex-direction: row;
        max-width: none;
        flex-wrap: wrap;
    }
    .branches__button {
        width: 286px;
        flex: 0 1 calc(33% - 12px);
    }
    .branches__info {
        flex-basis: 60%;
        max-width: none;
    }
    .branches__img-wrap {
        flex-basis: 40%;
    }
    .branches__img-wrap {
        max-width: none;
    }
}
@media (width < 992px) {
    .branches__button {
        flex: 0 1 calc(50% - 12px);
    }
    .branches__info {
        flex-basis: 50%;
        gap: 50px;
    }
    .branches__address-text {
        font-size: 20px;
    }
    .branches__img-wrap {
        flex-basis: 50%;
    }
    .branches__img-wrap {
        max-height: none;
    }
}
@media (width < 769px) {
    .branches__content-item.active {
        flex-direction: column;
        gap: 30px;
    }
    .branches__info {
        flex-basis: 100%;
        gap: 40px;
    }
    .branches__img-wrap {
        flex-basis: 100%;
    }
    .branches__img-wrap {
        max-height: 300px;
        display: flex;
        align-items: center;
    }
}
@media (width < 651px) {
    .branches__button {
        flex: 0 1 calc(100% - 12px);
    }
    .branches__info {
        gap: 30px;
    }
    .branches__texts {
        font-size: 15px;
        gap: 15px;
    }
}
@media (width < 551px) {
    .branches__body {
        gap: 40px;
    }
    .branches__content-item.active {
        gap: 40px;
    }
    .branches__info {
        gap: 20px;
        padding: 0px;
        background-color: transparent;
        max-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .branches__address-text {
        font-size: 18px;
        color: #303030;
    }
    .branches__texts {
        font-size: 15px;
        gap: 15px;
        align-items: center;
        text-align: center;
        }
    .branches__img-wrap {
        max-height: 300px;
        display: flex;
        align-items: center;
    }
    .branches__info-link:last-child {
        display: none;
    }
    .branches__info-buttons {
        max-width: none;
        width: 100%;
    }
    .branches__info-button {
        max-width: none;
        padding: 22px 20px;
    }
}
@media (width < 431px) {
    .branches__body {
        gap: 45px;
    }
    .branches__content-item.active {
        gap: 45px;
    }
    .branches__info {
        gap: 15px;
    }
    .branches__address {
        gap: 4px;
    }
    .branches__address-icon {
        height: 22px;
        width: 22px;
    }
    .branches__address-text {
        font-size: 16px;
    }
    .branches__texts {
        font-size: 14px;
    }
}


/* БЛОК МЫ ВДОХНОВЛЯЕМСЯ РЕДЖИО */
.inspiration {
    padding-top: 120px;
}
.main__inspiration {
}
.inspiration__container {
}
.inspiration__inner {
    padding: 40px;
    background-color: #F8F8F8;
    border-radius: 24px;
}
.inspiration__desc {
    display: flex;
    margin-bottom: 80px;
}
.inspiration__title {
    margin-bottom: 0px;
    margin-right: 99px;
}
.inspiration__desc-text {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.inspiration__text {
    max-width: 410px;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 11px;
    align-self: flex-end;
}
.inspiration__slider {
    max-height: 298px;
    position: relative;
}
.inspiration__swiper {
}
.inspiration__swiper-wrapper {
}
.inspiration__swiper-slide {
    border-radius: 16px;
    overflow: hidden;
}
.inspiration__slide {
    max-width: 389px;
    height: 298px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 40px;
    background-color: #FFF;
}
.inspiration__slide-number {
    font-size: 32px;
    line-height: 120%;
    color: #CFCFCF;
    margin-bottom: 30px;
}
.inspiration__slide-text {
    font-size: 20px;
    line-height: 120%;
    color: #4E6932;
    max-width: 276px;
}
.inspiration__slide-text::first-letter {
    text-transform: uppercase;
}
.inspiration__slide-image {
    max-width: 389px;
    width: 100%;
    height: 298px;
}
.inspiration__slide-image-wrap {
    width: 100%;
    height: 100%;
}
.inspiration__slide-image-photo {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.inspiration__slide-image-mobile-text {
    display: none;
    font-size: 20px;
    line-height: 120%;
}
.inspiration__swiper-controls {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.inspiration__swiper-navigation {
    display: flex;
    align-items: flex-end;
    gap: 16px;
    position: absolute;
    top: -109px;
}
.inspiration__swiper-button-prev {
    position: static;
}
.inspiration__swiper-button-next {
    position: static;
}
.inspiration__swiper-pagination {
    display: none;
    position: static;
    font-size: 32px;
    line-height: 120%;
    color: #CFCFCF;
    width: auto;
}
.inspiration__mobile-text {
    display: none;
    font-size: 20px;
    line-height: 120%;
    color: #4E6932;
}
@media (width < 1341px) {
    .inspiration__slider {
        max-height: none;
    }
    .inspiration__slide {
        width: auto;
        height: auto;
        aspect-ratio: 389 / 298;
        max-width: none;
    }
    .inspiration__slide-image {
        width: auto;
        height: auto;
        aspect-ratio: 389 / 298;
        max-width: none;
    }
}
@media (width < 1281px) {
    .inspiration__title {
        margin-right: 60px;
    }
    .inspiration__text {
        font-size: 15px;
        max-width: 350px;
    }
    .inspiration__slide-text {
        font-size: 18px;
    }
}
@media (width < 992px) {
    .inspiration__title {
        margin-right: 40px;
    }
}
@media (width < 902px) {
    .inspiration__desc {
        flex-direction: column;
        margin-bottom: 50px;
        gap: 50px;
    }
    .inspiration__title {
        margin-right: 0px;
    }
    .inspiration__text {
        margin-bottom: 0;
    }
    .inspiration__swiper-navigation {
        top: -75px;
    }
    .inspiration__slide-text {
        font-size: 16px;
    }
}
@media (width < 769px) {
    .inspiration__container {
        padding: 0px;
    }
    .inspiration__inner {
        padding: 0px 4px;
        background-color: transparent;
        border-radius: 0px;
    }
    .inspiration__desc {
        padding: 0px 30px;
    }
    .inspiration__text {
        max-width: 580px;
    }
    .inspiration__swiper-controls {
        display: flex;
        margin-bottom: 30px;
        justify-content: space-between;
    }
    .inspiration__swiper-pagination {
        display: block;
    }
    .inspiration__swiper-navigation {
        position: static;
    }
    .inspiration__slider {
        background-color: #F8F8F8;
        padding: 30px 25px;
        border-radius: 0px;
    }
    .swiper-slide:nth-child(odd) {
        display: none;
    }
    .inspiration__slide-image-wrap {
        margin-bottom: 30px;
        overflow: hidden;
        border-radius: 16px;
    }
    .inspiration__slide-image-mobile-text {
        display: block;
        color: #4E6932;
    }
}
@media (width < 651px) {
    .inspiration__desc {
        margin-bottom: 48px;
        gap: 48px;
    }
    .inspiration__slide-image-wrap {
        margin-bottom: 25px;
    }
    .inspiration__swiper-controls {
        margin-bottom: 25px;
    }
}
@media (width < 551px) {
    .inspiration__desc {
        margin-bottom: 45px;
        gap: 45px;
    }
    .inspiration__slide-image-wrap {
        margin-bottom: 20px;
    }
    .inspiration__swiper-controls {
        margin-bottom: 20px;
    }
    .inspiration__text {
        font-size: 14px;
    }
}

@media (width < 431px) {
    .modern-tools {
        padding-top: 90px;
    }
    .inspiration__slide-image-wrap {
        height: 275px;
    }
}


/* БЛОК ДЛЯ ОПИСАНИЯ БЛОКОВ С ВЫПАДАЮЩИМ ТЕКСТОМ ПО КНОПКЕ */
.avantage-descripion {
    display: flex;
    margin-bottom: 80px!important;
}
.avantage-descripion__title {
    margin-bottom: 0px;
    margin-right: 72px;
    max-width: 580px;
    width: 100%;
}
.avantage-descripion__texts {
    margin-top: 7px;
    margin-right: 20px;
    width: 100%;
}
.avantage-descripion__pre-title {
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 24px;
    max-width: 424px;
}
.avantage-descripion__pre-title-mobile {
    display: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
    color: #4E6932;
}
.avantage-descripion__accordion {
}
.avantage-descripion__accordion-content {
    max-width: 410px;
}
.avantage-descripion__accordion-content-visible {
}
.avantage-descripion__accordion-visible-text {
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 24px;
}
.avantage-descripion__accordion-button {
    padding-top: 17px;
    padding-bottom: 17px;
}
.avantage-descripion__accordion-button:hover .avantage-description__accordion-button-img {
    transform: rotate(90deg);
}
.avantage-description__accordion-button-img {
    transition: transform .2s;
}
.avantage-descripion__accordion-content-hidden {
    font-size: 16px;
    line-height: 130%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 600ms;
}
.avantage-descripion__accordion-content-hidden.open + .avantage-descripion__accordion-button:hover .avantage-description__accordion-button-img {
    transform: rotate(-90deg);
}

@media (width < 1341px) {
    .avantage-descripion__pre-title {
        font-size: 22px;
    }
    .avantage-descripion__accordion-visible-text, .avantage-descripion__accordion-content-hidden {
        font-size: 15px;
    }
    .preparing-child__description {
        margin-bottom: 70px;
    }
}
@media (width < 1281px) {
    .avantage-descripion {
        margin-bottom: 60px!important;
    }
}
@media (width < 992px) {
}
@media (width < 902px) {
    .avantage-descripion__title {
        margin-right: 0px;
    }
    .avantage-descripion {
        margin-bottom: 50px!important;
        gap: 50px;
        flex-direction: column;
    }
    .avantage-descripion__texts {
        margin-top: 0px;
        margin-right: 00px;
    }
    .avantage-descripion__pre-title {
        font-size: 24px;
        line-height: 130%;
        margin-bottom: 24px;
        max-width: 580px;
    }
    .avantage-descripion__accordion-content {
        max-width: 580px;
    }
    .avantage-descripion__pre-title {
        font-size: 20px;
        margin-bottom: 28px;
    }
}
@media (width < 769px) {
    .avantage-descripion__pre-title {
        display: none;
    }
    .avantage-descripion__pre-title-mobile {
        display: block;
    }
    .avantage-descripion__accordion-content-visible {
        display: flex;
        flex-direction: column;
    }
    .avantage-descripion__accordion-button {
        align-self: center;
    }
    
}
@media (width < 651px) {
    .avantage-descripion {
        margin-bottom: 48px!important;
        gap: 48px;
    }
}
@media (width < 551px) {
    .avantage-descripion {
        margin-bottom: 45px!important;
        gap: 45px;
    }
    .avantage-descripion__accordion-visible-text, .avantage-descripion__accordion-content-hidden {
        font-size: 14px;
    }
}

@media (width < 431px) {
}


/* БЛОК ЗАНИМАЕМСЯ ПРОЕКТНОЙ ДЕЯТЕЛЬНОСТЬЮ */
.project-activity {
    padding-top: 120px;
    /* overflow: hidden; */
    position: relative;
}
.project-activity__background-img {
    position: absolute;
    bottom: -286px;
    left: 0px;
    z-index: 3;
}
.main__project-activity {
}
.project-activity__container {
    position: relative;
    z-index: 5;
}
.project-activity__description {
    margin-bottom: 71px;
}
.project-activity__slider {
    margin-bottom: 35px;
    max-height: 540px;
    width: 100%;
}
.project-activity__swiper {
    overflow: visible;
}
.project-activity__swiper-wrapper {
}
.project-activity__swiper-slide {
    border-radius: 24px;
    overflow: hidden;
}
.project-activity__slide {
}
.project-activity__slide-wrap-img {
    width: 628px;
    height: 540px;
}
.project-activity__slide-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.project-activity__buttons {
}
.project-activity__link {
}
.project-activity__swiper-controls {
    display: none;
    justify-content: space-between;
    width: 100%;
}
.project-activity__swiper-pagination {
    display: none;
    font-size: 32px;
    line-height: 120%;
    color: #CFCFCF;
    position: static;
    width: auto;
}
.project-activity__swiper-navigation {
    position: static;
}
.project-activity__swiper-button-prev {
    position: static;
}
.project-activity__swiper-button-next {
    position: static;
}

@media (width < 1341px) {
    .project-activity__slide-wrap-img {
        width: auto;
        height: auto;
        aspect-ratio: 628 / 540;
    }
    .project-activity__slider {
        max-height: none;
    }
}
@media (width < 1281px) {

}
@media (width < 902px) {

}
@media (width < 769px) {
    .project-activity__slider {
        margin-bottom: 35px;
    }
    .project-activity__swiper {
        margin-bottom: 30px;
    }
}
@media (width < 651px) {

}
@media (width < 551px) {
    .project-activity__swiper {
        margin-bottom: 20px;
    }
    .project-activity__slider {
        margin-bottom: 30px;
    }
}

@media (width < 431px) {
    .project-activity {
        padding-top: 90px;
    }
}


/* БЛОК ИЗУЧАЕМ МИР ПРИ ПОМОЩИ СОВРЕМЕННЫХ ИНСТРУМЕНТОВ */
.modern-tools {
    padding-top: 120px;
    /* overflow: hidden; */
    position: relative;
}
.main__modern-tools {
}
.modern-tools__background-img {
    position: absolute;
    z-index: 3;
    top: 47%;
    left: 0px;
}
.modern-tools__container {
    position: relative;
    z-index: 5;
}
.modern-tools__description {
    margin-bottom: 80px;
}
.modern-tools__slider {
    max-height: 582px;
    width: 100%;
}
.modern-tools__swiper {
    overflow: visible;
}
.modern-tools__swiper-wrapper {
}
.modern-tools__swiper-slide {
}
.modern-tools__slide {
}
.modern-tools__slide-title {
    line-height: 130%;
    color: #4E6932;
    padding: 4px;
    margin-bottom: 20px;
}
.modern-tools__slide-wrap-img {
    width: 628px;
    height: 540px;
}
.modern-tools__slide-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 628 / 540;
    border-radius: 24px;
    overflow: hidden;
}
.modern-tools__swiper-controls {
    display: none;
    justify-content: space-between;
    width: 100%;
}
.modern-tools__swiper-pagination {
    display: none;
    font-size: 32px;
    line-height: 120%;
    color: #CFCFCF;
    position: static;
    width: auto;
}
.modern-tools__swiper-navigation {
    position: static;
}
.modern-tools__swiper-button-prev {
    position: static;
}
.modern-tools__swiper-button-next {
    position: static;
}

@media (width < 1341px) {
    .modern-tools__slide-wrap-img {
        width: auto;
        height: auto;
        aspect-ratio: 628 / 540;
    }
    .modern-tools__slider {
        max-height: none;
    }
}
@media (width < 1281px) {

}
@media (width < 902px) {

}
@media (width < 769px) {
    .modern-tools__container {
        padding: 0px;
    }
    .modern-tools__description {
        padding: 0px 30px;
    }
    .modern-tools__slider {
        background-color: #F8F8F8;
        padding: 24px 30px 30px 30px;
    }
    .modern-tools__swiper {
        margin-bottom: 30px;
    }
    .modern-tools__slide-title {
        padding: 0px;
    }
}
@media (width < 651px) {

}
@media (width < 551px) {
    .modern-tools__swiper {
        margin-bottom: 20px;
    }
}

@media (width < 431px) {
    .modern-tools {
        padding-top: 90px;
    }
}


/* БЛОК ГОТОВИМ РЕБЁНКА К ШКОЛЕ */
.preparing-child {
    padding-top: 120px;
}
.main__project-activity {
}
.preparing-child__container {
    position: relative;
}
.preparing-child__description {
    margin-bottom: 80px;
}
.preparing-child__title {
    padding-bottom: 0px;
    margin-right: 72px;
    max-width: 580px;
    width: 100%;
}
.my-button__img-arrow {
}
.avantage-description__accordion-button-img {
}
.preparing-child__content {
    margin-bottom: 24px;
}
.preparing-child__content-img-title {
    line-height: 130%;
    color: #4E6932;
    padding: 4px 0px;
    margin-bottom: 20px;
}
.preparing-child__content-img {
    height: 540px;
    width: 100%;
    background: url('../../assets/images/pages/main/preparing-child/preparing-img.jpg') 100% no-repeat;
    background-size: cover;
    border-radius: 24px;
}
.preparing-child__buttons {
}
.preparing-child__link {
}
@media (width < 1341px) {
    .preparing-child__content-img {
        height: auto;
        width: auto;
        aspect-ratio: 1280 / 540;
    }
}
@media (width < 1281px) {

}
@media (width < 902px) {

}
@media (width < 769px) {
    .preparing-child__content-img {
        height: 400px;
        width: 100%;
        margin-bottom: 30px;
    }
    .preparing-child__content-img-title {
        padding: 0px;
        margin-bottom: 18px;
    }
    .preparing-child__content {
        margin-bottom: 35px;
    }
}
@media (width < 651px) {

}
@media (width < 551px) {
    .preparing-child__content-img {
        height: 275px;
        width: 100%;
        margin-bottom: 20px;
    }
    .preparing-child__content-img-title {
        margin-bottom: 16px;
    }
    .preparing-child__content {
        margin-bottom: 30px;
    }
}

@media (width < 431px) {
    .preparing-child {
        padding-top: 90px;
    }
}


/* БЛОК ЗА ЧТО НАС ВЫБИРАЮТ */
.why-choose-us {
    padding-top: 120px;
    position: relative;
}
.main__why-choose-us {
}
.why-choose-us__background-img {
    position: absolute;
    top: -138px;
    right: 0px;
    z-index: 3;
}
.why-choose-us__container {
    position: relative;
    z-index: 5;
}
.why-choose-us__title {
}
.why-choose-us__accordion {
    margin: 0px 0px 80px 0px;
    padding: 0;
    border: 0;
}
.why-choose-us__accordion * {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0px!important;
    box-shadow: none!important;
}
.why-choose-us__accordion-item {
    padding: 40px 0px;
    border-top: 1px solid #4E6932;
    border-bottom: 1px solid #4E6932;
}
.why-choose-us__accordion-header {
    display: flex;
}
.why-choose-us__accordion-button {
    background-color: #FFF!important;
}
.why-choose-us__accordion-button[aria-expanded="true"] {
    background-color: #FFF;
}
.why-choose-us__accordion-button::after {
    background-image: url('../../assets/images/slider/arrow-next.svg')!important;
    height: 26px;
    width: 26px;
    background-size: auto;
    margin-bottom: auto;
    transition: transform 500ms;
}
.why-choose-us__accordion-button:not(.collapsed)::after {
    transform: rotate(-90deg);
}
.why-choose-us__accordion-button.collapsed::after {
    transform: rotate(90deg);
    opacity: 0.5;
}
.why-choose-us__accordion-button-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 130%;
    color: #000;
    max-width: 440px;
    width: 100%;
    margin-right: 212px;
    align-self: flex-start;
}
.why-choose-us__accordion-button.collapsed .why-choose-us__accordion-button-text {
    color: #B3B3B3;
}
.why-choose-us__accordion-button-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    color: #000;
    max-width: 410px;
    margin-right: 50px;
}
.why-choose-us__accordion-collapse {
    transition: height 0.3s ease-in-out;
}
.why-choose-us__accordion-body {
    padding-top: 40px;
    padding-right: 26px;
    display: flex;
}
.why-choose-us__accordion-button-text-mobile {
    display: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    color: #000;
    max-width: 580px;
}
.why-choose-us__accordion-body-img-wrap {
    max-width: 410px;
    border-radius: 20px!important;
    overflow: hidden;
    aspect-ratio: 410 / 200;
}
.why-choose-us__accordion-body-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.why-choose-us__feedback-block {
}

@media (width < 1341px) {
    .why-choose-us__accordion-button-title {
        font-size: 22px;
    }
}
@media (width < 1281px) {
    .why-choose-us__accordion-body {
        padding-right: 80px;
    }
    .why-choose-us__accordion-button-title {
        max-width: 330px;
        margin-right: 150px;
    }
    .why-choose-us__accordion-button-text {
        max-width: 390px;
        font-size: 15px;
        margin-right: 30px;
    }
    .why-choose-us__accordion-body {
        padding-right: 60px;
    }
    .why-choose-us__accordion-body-img-wrap {
        max-width: 390px;
    }
}
@media (width < 992px) {
    .why-choose-us__accordion-button-text {
        max-width: 326px;
        margin-right: 0px;
    }
    .why-choose-us__accordion-button-title {
        max-width: 260px;
        margin-right: 74px;
    }
    .why-choose-us__accordion-body-img-wrap {
        max-width: 330px;
    }
}
@media (width < 790px) {
    .why-choose-us__accordion-button-title {
        max-width: 350px;
        margin-right: 30px;
    }
    .why-choose-us__accordion-button-text {
        display: none;
    }
    .why-choose-us__accordion-body {
        padding-top: 35px;
        flex-direction: column;
        gap: 40px;
    }
    .why-choose-us__accordion-item {
        padding: 30px 0px;
    }
    .why-choose-us__accordion-body .why-choose-us__accordion-button-title {
        display: none;
    }
    .why-choose-us__accordion-button-text-mobile {
        display: block;
        font-size: 15px;
        max-width: 560px;
    }
    .why-choose-us__accordion-body-img-wrap {
        max-width: 510px;
    }
}
@media (width < 769px) {
    .why-choose-us__container {
        padding: 0px;
    }
    .why-choose-us__title {
        padding: 0px 30px;
    }
    .why-choose-us__accordion {
        padding: 0px 30px;
    }
    .why-choose-us__accordion {
        margin-bottom: 85px;
    }
}
@media (width < 651px) {
    .why-choose-us__accordion-body {
        gap: 30px;
    }
}
@media (width < 551px) {
    .why-choose-us__accordion-button::after {
        position: relative;
        top: 10%;
        transform-origin: center;
    }
    .why-choose-us__accordion-button:not(.collapsed)::after {
        transform: rotate(-90deg);
    }
    .why-choose-us__accordion-button.collapsed::after {
        transform: rotate(90deg);
    }
    .why-choose-us__accordion-button {
        display: flex;
        align-items: center;
    }
    .why-choose-us__accordion-item {
        padding: 20px 0px;
    }
    .why-choose-us__accordion-button-title {
        max-width: 230px;
        font-size: 20px;
    }
    .why-choose-us__accordion-button-text-mobile {
        font-size: 14px;
    }
    .why-choose-us__accordion-body {
        gap: 20px;
    }
    .why-choose-us__accordion-body {
        padding-top: 25px;
        padding-right: 45px;;
    }
}

@media (width < 431px) {
    .why-choose-us__title {
        margin-bottom: 40px;
    }
    .why-choose-us__accordion {
        margin-bottom: 90px;
    }
}


/* ГРУППА БЛОКОВ ОПИСЫВАЮЩИХ СТИЛЬ ЖИЗНИ (ЗДОРОВОЕ ПИТАНИЕ, ПРОГУЛКИ С ПОЛЬЗОЙ, МЕДИЦИНСКОЕ СОПРОВОЖДЕНИЕ) */
.lifestyle {
    position: relative;
    z-index: 3;
}
.lifestyle__main {
}
.lifestyle__background-img {
    position: absolute;
    top: -419px;
    left: 0px;
    z-index: 3;
}
.lifestyle__items {
    position: relative;
    z-index: 5;
}
.lifestyle__block-item {
}


/* БЛОКИ ВНУТРИ ГРУППЫ СТИЛЬ ЖИЗНИ */
.lifestyle-item {
    padding-top: 120px;
}

.lifestyle-item:nth-of-type(even) .lifestyle-item__slider {
    order: 2;
    margin-right: 0px;
}

.lifestyle-item:nth-of-type(even) .lifestyle-item__body {
    order: 1;
    margin-right: 92px;
}

.lifestyle-item__container {
    display: flex;
}
.lifestyle-item__container {

}
.lifestyle-item__slider {
    max-height: 600px;
    max-width: 560px;
    position: relative;
    margin-right: 92px;
}
.lifestyle-item__swiper {
}
.lifestyle-item__swiper-wrapper {
}
.lifestyle-item__swiper-slide {
    border-radius: 24px;
    overflow: hidden;
}
.lifestyle-item__slide {
    max-width: 560px;
    max-height: 600px;
}
.lifestyle-item__slide-img-wrap {
    height: 600px;
    width: 560px;
}
.lifestyle-item__slide-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.lifestyle-item__texts > .swiper-navigation {
    top: auto;
    bottom: 0;
    left: 0;
    right: auto;
    display: flex;
    position: relative;
}
.lifestyle-item__swiper-button-prev, .lifestyle-item__swiper-button-next {
    top: auto;
    position: relative;
    bottom: 0;
}
.lifestyle-item__swiper-button-prev {
    right: auto;
    margin-right: 16px;
}
.lifestyle-item__swiper-button-next {
}
.lifestyle-item__swiper-pagination {
    position: absolute;
    bottom: 32px!important;
}
.lifestyle-item__body {
    position: relative;
}
.lifestyle-item__title {
    margin-bottom: 80px;
}
.lifestyle-item__texts {
    max-width: 562px;
}
.lifestyle-item__pre-title {
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 40px;
}
.lifestyle-item__text {
    font-size: 16px;
    line-height: 130%;
    max-width: 518px;
    margin-bottom: 48px;
}
.lifestyle-item__swiper-notes {
    display: flex;
    flex-direction: column;
}
.lifestyle-item__footnote {
    font-size: 14px;
    line-height: 130%;
    color: #4E6932;
    margin-bottom: 24px;
}
.lifestyle-item__swiper-navigation {
    position: static;
}


/* БЛОК РАЗВИВАЮЩАЯ СРЕДА */
.dev-environment {
    padding-top: 120px;
    max-height: 783px;
    position: relative;
}
.main__dev-environment {
}
.dev-environment__background-img {
    position: absolute;
    top: 325px;
    left: 0px;
    z-index: 3;
}
.dev-environment__container {
    position: relative;
    z-index: 5;
}
.dev-environment__title {
}
.dev-environment__content {
    display: flex;
    gap: 24px;
}
.dev-environment__content > * {
    flex: 1 1 calc(50% - 24px);
}

.dev-environment__text-slider {
    max-width: 628px;
    max-height: 540px;
    border-radius: 24px;
    position: relative;
}
.dev-environment__text-swiper {
}
.dev-environment__text-swiper-wrapper {
}
.dev-environment__text-swiper-slide {
    border-radius: 24px;
    overflow: hidden;
}
.dev-environment__text-slide {
    height: 100%;
    background-color: #F8F8F8;
    padding: 60px 40px 40px 40px;
    display: flex;
    flex-direction: column;
}
.dev-environment__slide-title {
    font-size: 24px;
    line-height: 130%;
    color: #4E6932;
    margin-bottom: 60px;
}
.dev-environment__slide-text {
    line-height: 130%;
    max-width: 410px;
}
.dev-environment__text-swiper-pagination {
    position: absolute;
    line-height: 130%;
    bottom: 90px!important;
    left: 40px!important;
    width: auto;
}
.dev-environment__text-slider > .swiper-navigation {
    top: auto;
    bottom: 0;
    left: 0;
    right: auto;
}
.dev-environment__text-swiper-button-prev, .dev-environment__text-swiper-button-next {
    top: auto;
    bottom: 40px;
}
.dev-environment__text-swiper-button-prev {
    left: 40px;
}
.dev-environment__text-swiper-button-next {
    left: 82px;
    bottom: 40.7px;
}

.dev-environment__img-sliders {
    display: flex;
    max-height: 628px;
}
.dev-environment__image-slider {
    max-width: 628px;
    max-height: 540px;
    border-radius: 24px;
    position: relative;
}
.dev-environment__image-swiper {
}
.dev-environment__image-swiper-wrapper {
}
.dev-environment__image-swiper-slide {
    border-radius: 24px;
    overflow: hidden;
}
.dev-environment__image-slide {
    max-width: 628px;
    max-height: 540px;
}
.dev-environment__image-slide-wrap {
    width: 628px;
    height: 540px;
}
.dev-environment__image-slide-photo {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.dev-environment__image-swiper-pagination {
    position: absolute;
    bottom: 32px!important;
}


/* БЛОК ВСЕСТОРОННЕЕ РАЗВИТИЕ */
.development {
    padding-top: 120px;
    position: relative;
}
.main__development {
}
.development__background-img {
    position: absolute;
    top: 318px;
    left: 0px;
    z-index: 3;
}
.development__container {
    position: relative;
    z-index: 5;
}
.development__description {
    margin-bottom: 50px;
}
.development__content {
}
.development__slider {
    max-width: 1280px;
    width: 100%;
    margin-bottom: 24px;
}
.development__swiper {
}
.development__swiper-wrapper {
}
.development__swiper-slide {
}
.development__slide {
}
.development__image-card-title {
    line-height: 130%;
    color: #4E6932;
    text-transform: lowercase;
    padding: 4px 0px;
    margin-bottom: 20px;
}
.development__image-card-img-wrap {
    height: 540px;
    width: 100%;
    border-radius: 24px;
    overflow: hidden;
}
.development__image-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.development__buttons {
    border-radius: 24px;
    background-color: rgba(248, 248, 248, 1);
    padding: 40px 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.development__button {
    flex: 1 0 calc(33.333% - 24px);
    max-width: 389px;
    padding: 32px 40px;
    background-color: #FFF;
    border-radius: 16px;
    font-size: 20px;
    text-transform: capitalize;
    justify-content: flex-start;
}
.development__button_isIndivid {
    position: relative;
}
.development__button_isIndivid::after {
    content: 'индивидуально';
    display: flex;
    align-items: center;
    padding: 3px 16px;
    font-size: 13px;
    line-height: 18px;
    text-transform: lowercase;
    background-color: #FFF;
    border: 1px solid rgba(78, 105, 50, 1);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
    border-radius: 100px;
    transform: rotate(2deg);
    position: absolute;
    top: 0;
    right: -10px;
}
.development__button-img {
    margin-right: 40px;
    height: 32px;
    width: 32px;
}
.development__button:hover, .development__button:focus, .development__button:active, .development__button.active  {
    color: #4E6932!Important;
    background-color: #C7D8A5!Important;
}
.development__image-card-img-wrap {
    height: 480px;
    width: 100%;
    border-radius: 24px;
    overflow: hidden;
}

@media (width < 1341px) {

}
@media (width < 1281px) {
    .development__image-card-img-wrap {
        height: 480px;
    }
}
@media (width < 992px) {
    .development__image-card-img-wrap {
        height: 430px;
    }
    .development__buttons {
        padding: 30px 22px;
        gap: 18px;
    }
    .development__button {
        flex: 1 1 calc(50% - 18px);
        max-width: none;
        padding: 24px 31px;
    }
}
@media (width < 769px) {
    .development__container {
        padding: 0px;
    }
    .development__description {
        padding: 0px 30px;
    }
    .development__content {
        display: flex;
        flex-direction: column;
    }
    .development__slider {
        margin-bottom: 0px;
        order: 2;
        padding: 0px 30px;
        background-color: rgba(248, 248, 248, 1);
    }
    .development__image-card-title {
        padding: 0px;
        margin-bottom: 18px;
    }
    .development__buttons {
        padding: 0px 30px;
        gap: 18px;
        background-color: transparent;
        order: 1;
        margin-bottom: 50px;
    }
    .development__button {
        flex: 1 1 calc(100% - 18px);
        font-size: 18px;
        text-transform: uppercase;
        padding: 20px 25px;
        justify-content: center;
        border: 1px solid rgba(78, 105, 50, 1);
    }
    .development__button-img {
        margin-right: 20px;
    }
}
@media (width < 651px) {
    .development__image-card-img-wrap {
        height: 390px;
    }
    .development__buttons {
        gap: 20px;
        margin-bottom: 48px;
    }
    .development__button {
        font-size: 16px;
        padding: 18px;
    }
}
@media (width < 551px) {
    .development__image-card-img-wrap {
        height: 275px;
    }
    .development__buttons {
        margin-bottom: 45px;
    }
    .development__image-card-title {
        margin-bottom: 16px;
    }
    .development__button {
        font-size: 16px;
        padding: 9px;
    }
    .development__button_isIndivid::after {
        transform: rotate(4deg);
        top: -10px;
    }
}
@media (width < 431px) {

}


/* БЛОК ЯРКИЕ ПРАЗДНИКИ */
.holidays {
    padding-top: 120px;
    position: relative;
}
.main__holidays {
}
.holidays__background-img {
    position: absolute;
    top: 732px;
    right: 0px;
    z-index: 3;
}
.holidays__container {
    position: relative;
    z-index: 5;
}
.holidays__description {
    margin-bottom: 60px;
    display: flex;
    gap: 22px;
}
.holidays__title {
    margin-bottom: 0px;
    margin-right: 72px;
}
.holidays__texts {
    margin-top: 7px;
    margin-right: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.holidays__texts-inner {
    max-width: 410px;
}
.holidays__pre-title {
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 60px;
}
.holidays__text {
    font-size: 16px;
    line-height: 130%;
}
.holidays__slider {
    margin-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
}
.holidays__swiper-controls {
    display: none;
    justify-content: space-between;
    width: 100%;
}
.holidays__swiper-pagination {
    font-size: 32px;
    line-height: 120%;
    color: #CFCFCF;
    position: static;
    width: auto;
}
.holidays__swiper-navigation {
    position: static;
}
.holidays__swiper-button-prev {
    position: static;
}
.holidays__swiper-button-next {
    position: static;
}
.holidays__swiper {
}
.holidays__swiper-wrapper {
    width: 100%;
    display: flex;
    gap: 20px 24px;
    flex-wrap: wrap;
}
.holidays__swiper-slide {
    max-width: 628px;
}
.holidays__slide {
}
.holidays__image-card-title {
    line-height: 130%;
    color: #4E6932;
    margin-bottom: 20px;
}
.holidays__image-card-img-wrap {
    border-radius: 24px;
    overflow: hidden;
    height: 540px;
    width: 628px;
}
.holidays__image-card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.holidays__buttons {
}
.holidays__button-link {
    width: 100%;
    padding-top: 17px;
    padding-bottom: 17px;
}

@media (width < 1341px) {
    .holidays__image-card-img-wrap {
        height: auto;
        width: auto;
        aspect-ratio: 628 / 540;
    }
    .holidays__pre-title {
        font-size: 22px;
        margin-bottom: 50px;
    }
    .holidays__text {
        font-size: 15px;
    }
}
@media (width < 1281px) {
    .holidays__texts {
        margin-right: 0px;
    }
    .holidays__title {
        margin-bottom: 0px;
        margin-right: calc(52px + 64px);
    }
}
@media (width > 992px) {
    .holidays__swiper-slide {
        flex: 1 1 calc(50% - 24px);
        margin-right: 0px!important;
    }
}
@media (width < 992px) {
    .holidays__description {
        margin-bottom: 60px;
        gap: 60px;
    }
    .holidays__swiper {
        overflow: visible;
    }    
    .holidays__swiper-wrapper {
        flex-wrap: nowrap;
        gap: 0px;
    }
    .holidays__swiper-slide {
        max-width: 628px;
    }
}
@media (width < 902px) {
    .holidays__description {
        margin-bottom: 50px;
        gap: 50px;
        flex-direction: column;
    }
    .holidays__texts {
        margin-top: 0px;
        width: auto;
        justify-content: flex-start;
    }
    .holidays__title {
        margin-right: 0px;
    }
    .holidays__texts-inner {
        max-width: 580px;
    }
    .holidays__pre-title {
        font-size: 20px;
        margin-bottom: 30px;
    }
}
@media (width < 769px) {
    .holidays__container {
        padding: 0px;
    }
    .holidays__title {
        padding: 0px 30px;
    }
    .holidays__texts {
        padding: 0px 30px;
    }
    .holidays__pre-title {
        margin-bottom: 25px;
    }
    .holidays__slider {
        background-color: #F8F8F8;
        padding: 24px 30px 30px 30px;
        margin-bottom: 28px;
    }
    .holidays__swiper-slide {
        max-width: none;
    }
    .holidays__image-card-title {
        margin-bottom: 18px;
    }
    .holidays__buttons {
        padding: 0px 30px;
    }
}
@media (width < 651px) {
    .holidays__description {
        margin-bottom: 48px;
        gap: 48px;
    }
}
@media (width < 551px) {
    .holidays__description {
        margin-bottom: 45px;
        gap: 45px;
    }
    .holidays__pre-title {
        margin-bottom: 20px;
    }
    .holidays__text {
        font-size: 14px;
    }
    .holidays__slider {
        margin-bottom: 30px;
    }
    .holidays__image-card-title {
        margin-bottom: 16px;
    }
}
@media (width < 431px) {
    .holidays {
        padding-top: 90px;
    }
}


/* БЛОК НАШИ ПЕДАГОГИ */
.teachers {
    padding-top: 120px;
    position: relative;
}
.main__teachers {
}
.teachers__background-img {
    position: absolute;
    top: 297px;
    left: 0px;
    z-index: 3;
}
.teachers__container {
    position: relative;
    z-index: 5;
}
.teachers__title {
    max-width: 302px;
}
.teachers__slider {
    position: relative;
}
.teachers__swiper {
}
.teachers__swiper-wrapper {
}
.teachers__swiper-slide {
}
.teachers__slide {
    max-width: 302px;
}
.teachers__slide-img-wrap {
    margin-bottom: 24px;
    border-radius: 16px;
    overflow: hidden;
    background-color: #FCFCFC;
    height: 320px;
    width: 302px;
}
.teachers__slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.teachers__slide-body {
}
.teachers__slide-title {
    font-size: 20px;
    line-height: 120%;
    color: #4E6932;
    margin-bottom: 16px;
}
.teachers__slide-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    color: #B3B3B3;
    max-width: 144px;
}
.teachers__swiper-button-prev {
}
.teachers__swiper-button-next {
}
.teachers__swiper-pagination {
    display: none;
    font-size: 32px;
    line-height: 120%;
    color: #CFCFCF;
    position: static;
    width: auto;
}
.teachers__swiper-controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media (width < 1341px) {
    .teachers__slide-img-wrap {
        height: auto;
        width: auto;
        margin-bottom: 20px;
        aspect-ratio: 302 / 320;
    }
    .teachers__slide-title {
        font-size: 18px;
        margin-bottom: 10px;
    }
}

@media (width < 992px) {
    .teachers__slide {
        max-width: none;
    }
    .teachers__slide-title {
        font-size: 16px;
        margin-bottom: 7px;
    }
    .teachers__slide-img-wrap {
        height: auto;
        width: auto;
        margin-bottom: 18px;
    }
}

@media (width < 769px) {
    .teachers__slide-title {
        font-size: 18px;
        margin-bottom: 13px;
    }
}

@media (width < 651px) {
    
}

@media (width < 551px) {
    .teachers__container {
        padding: 0px;
    }
    .teachers__title {
        padding-left: 30px;
    }
    .teachers__swiper-controls {
        position: absolute;
        bottom: 123px;
        width: auto;
    }
    .teachers__swiper-navigation {
        display: none;
    }
    .teachers__swiper-pagination {
        display: block;
    }
    .teachers__slider {
        padding: 24px 30px 30px 30px;
        background-color: #F8F8F8;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .teachers__slide {
        position: relative;
        padding-top: calc(16px + 24px);
    }
    .teachers__slide-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .teachers__slide-img-wrap {
        margin-bottom: 25px;
    }
    .teachers__slide-title {
        font-size: 18px;
        margin-bottom: 0px;
        align-self: flex-start;
        position: absolute;
        top: 0;
    }
    .teachers__slide-text {
        color: #4E6932;
        text-align: center;
    }
}

@media (width < 431px) {
    .teachers {
        padding-top: 90px;
    }
    .teachers__slide-img-wrap {
        margin-bottom: 30px;
    }
    .teachers__slide-title {
        font-size: 14px;
    }
}


/* БЛОК ОТЗЫВОВ */
.reviews {
    padding-top: 120px;
    position: relative;
}
.reviews__background-img {
    position: absolute;
    top: 0;
    right: 117px;
    z-index: 3;
}
.main__reviews {
}
.reviews__container {
    position: relative;
    z-index: 5;
}
.reviews__title {
}
.reviews__content {
    padding: 40px 32px;
    background-color: #FCFCFC;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 24px;
}
.reviews__content-title {
    font-size: 24px;
    line-height: 130%;
    max-width: 361px;
}
.reviews__slider {
    max-height: 363px;
    position: relative;
}
.reviews__swiper {
}
.reviews__swiper-wrapper {
}
.reviews__swiper-slide {
}
.reviews__slide {
    user-select: none;
}
.reviews__slide-img-wrap {
    height: 320px;
    width: 389px;
    overflow: hidden;
    border-radius: 16px;
    margin-bottom: 24px;
    position: relative;
    cursor: pointer;
}
.reviews__slide-img-wrap:hover::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.068);
}
.reviews__slide-img {
    /* height: 100%; */
    width: 102%;
    object-fit: cover;
    position: relative;
    left: -2px;
    top: -97px;
}
.reviws__slide-play-button-wrap {
    position: absolute;
    top: 24px;
    right: 32px;
    cursor: pointer;
}
.reviews__slide-img-wrap:hover path {
    fill: #2f3f1d;
}
.reviews__slide-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    color: #4E6932;
}
.reviews__swiper-button-prev {
}
.reviews__swiper-button-next {
}
.reviews__feedback-block {
}
.rewiews__swiper-pagination {
    display: none;
    font-size: 32px;
    line-height: 120%;
    color: #CFCFCF;
    position: static;
    width: auto;
}
.rewiews__swiper-controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media (width < 1341px) {
    .reviews__content {
        padding: 35px 30px;
        gap: 35px;
        margin-bottom: 30px;
    }
    .reviews__content-title {
        font-size: 22px;
        max-width: 340px;
    }
    .reviews__slide-img-wrap {
        height: auto;
        width: auto;
        margin-bottom: 20px;
        aspect-ratio: 389 / 320;
    }
}

@media (width < 992px) {
    .reviews__content {
        padding: 20px 25px;
        gap: 30px;
        margin-bottom: 50px;
    }
}

@media (width < 769px) {
    .reviews__container {
        padding: 0px;
    }
    .reviews__content {
        padding: 20px 25px;
        gap: 30px;
        margin-bottom: 60px;
    }
    .reviews__title {
        padding-left: 30px;
    }
    .reviews__content-title {
        font-size: 20px;
        max-width: 310px;
    }
    .reviews__slide {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .reviews__slide-img-wrap {
        height: 320px;
        width: 100%;
        max-width: 430px;
        margin-bottom: 0px;
        margin-top: 20px;
        order: 2;
    }
    .reviews__slide-text {
        order: 1;
    }
}

@media (width < 651px) {
    
}

@media (width < 551px) {
    .reviews__content {
        padding: 0;
        gap: 30px;
        margin-bottom: 75px;
    }
    .reviews__content-title {
        padding-left: 30px;
    }
    .rewiews__swiper-controls {
        position: absolute;
        margin-bottom: 0;
        width: auto;
        bottom: 10px;
    }
    .rewiews__swiper-pagination {
        display: block;
    }
    .reviews__swiper-navigation {
        display: none;
    }
    .reviews__slider {
        max-height: none;
        background-color: #F8F8F8;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .reviews__slide-img-wrap {
        height: auto;
    }
    .reviews__slide-text {
        font-size: 14px;
    }
    .rewiews__swiper-controls {
        margin-bottom: 30px;
    }
}

@media (width < 431px) {
    .reviews__content {
        margin-bottom: 90px;
    }
    .reviews__slide {
        align-items: flex-start;
    }
    .reviews__content-title {
        max-width: 210px;
    }
}


/* БЛОК КОНТАКТОВ */
.contacts {
    padding-top: 120px;
}
.main__contacts {
}
.contacts__container {
}
.contacts__inner {
    padding: 32px 0px;
    background-color: #FCFCFC;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.contacts__body {
    padding-top: 28px;
    margin-right: 39px;
    max-width: 533px;
    width: 100%;
}
.contacts__desc {
    display: flex;
    justify-content: space-between;
    margin-bottom: 65.5px;
}
.contacts__smd {
}
.contacts__title {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 130%;
    font-weight: 500;
    text-transform: uppercase;
}
.contacts__info {
}
.contacts__info * {
    display: flex;
    text-align: center;
    align-items: center;
    line-height: 130%;
}
.contacts__info * img {
    margin-right: 8px;
    max-height: 24px;
    max-width: 24px;
}
.contacts__info > *:not(:last-child) {
    margin-bottom: 17px;
}
.contacts__phone {
}
.contacts__phone-icon {
}
.contacts__email {
}
.contacts__email-icon {
}
.contacts__addresses {
    display: flex;
    flex-direction: column;
    gap: 51px;
}
.contacts__address-block {
}
.contacts__address-title {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 130%;
}
.contacts__address-items {
}
.contacts__address-item {
    font-size: 16px;
    line-height: 130%;
}
.contacts__address-item:not(:last-child) {
    margin-bottom: 24px;
}
.contacts__button {
    max-width: 511px;
    width: 100%;
    padding-top: 17px;
    padding-bottom: 17px;
}
.contacts__map-wrap {
    max-width: 628px;
    width: 100%;
    max-height: 512px;
    border-radius: 24px;
    overflow: hidden;
}
.contacts__map-wrap > * {
    height: 100%;
    width: 100%;
}

@media (width < 1281px) {
    .contacts__address-item {
        font-size: 14px;
    }
}

@media (width < 992px) {
    .contacts__inner {
        padding: 20px 0px;
        flex-direction: column;
    }
    .contacts__body {
        padding-top: 0px;
        margin-right: 0px;
        max-width: none;
        margin-bottom: 81px;
    }
    .contacts__desc {
        margin-bottom: 0px;
    }
    .contacts__button {
        position: absolute;
        bottom: 0px;
        max-width: none;
    }
    .contacts__map-wrap {
        max-width: 410px;
        height: 228px;
        position: absolute;
        bottom: 99px;
    }
}

@media (width < 769px) {
    .contacts__inner {
        padding: 0px;
        flex-direction: column;
    }
    .contacts__body {
        margin-bottom: 50px;
    }
    .contacts__title {
        font-size: 28px;
    }
    .contacts__desc {
        gap: 47px;
    }
    .contacts__address-item {
        font-size: 16px;
    }
    .contacts__addresses {
        gap: 47px;
    }
    .contacts__info > *:not(:last-child) {
        margin-bottom: 16px;
    }
    .contacts__address-title {
        font-size: 22px;
    }
    .contacts__map-wrap {
        position: static;
        height: 350px;
        margin-bottom: calc(45px + 52px);
        max-width: none;
    }
    .contacts__address-item:not(:last-child) {
        margin-bottom: 20px;
    }
    .contacts__button {
        position: absolute;
        bottom: 0px;
        max-width: none;
    }
}

@media (width < 651px) {

}

@media (width < 551px) {
    .contacts {
        padding-top: 90px;
    }
    .contacts__inner {
        background-color: transparent;
    }
    .contacts__title {
        font-size: 32px;
    }
    .contacts__body {
        margin-bottom: 45px;
    }
    .contacts__desc {
        flex-direction: column;
        gap: 45px;
    }
    .contacts__address-item {
        font-size: 14px;
    }
    .contacts__addresses {
        gap: 45px;
    }
    .contacts__info > *:not(:last-child) {
        margin-bottom: 14px;
    }
    .contacts__address-title {
        font-size: 20px;
    }
    .contacts__address-item:not(:last-child) {
        margin-bottom: 16px;
    }
    .contacts__map-wrap {
        height: 257px;
        margin-bottom: calc(45px + 52px);
    }
}

@media (width < 431px) {
}

@media (width < 1281px) {
    .branches, .inspiration, .project-activity, .modern-tools, .preparing-child, .why-choose-us, .lifestyle, .dev-environment, .development, .holidays, .teachers, .reviews, .contacts {
        padding-top: 115px;
    }
}
@media (width < 992px) {
    .branches, .inspiration, .project-activity, .modern-tools, .preparing-child, .why-choose-us, .lifestyle, .dev-environment, .development, .holidays, .teachers, .reviews, .contacts {
        padding-top: 111px;
    }
}
@media (width < 769px) {
    .branches, .inspiration, .project-activity, .modern-tools, .preparing-child, .why-choose-us, .lifestyle, .dev-environment, .development, .holidays, .teachers, .reviews, .contacts {
        padding-top: 107px;
    }
}
@media (width < 651px) {
    .branches, .inspiration, .project-activity, .modern-tools, .preparing-child, .why-choose-us, .lifestyle, .dev-environment, .development, .holidays, .teachers, .reviews, .contacts {
        padding-top: 104px;
    }
}
@media (width < 551px) {
    .branches, .inspiration, .project-activity, .modern-tools, .preparing-child, .why-choose-us, .lifestyle, .dev-environment, .development, .holidays, .teachers, .reviews, .contacts {
        padding-top: 95px;
    }
}
@media (width < 431px) {
    .branches, .inspiration, .project-activity, .modern-tools, .preparing-child, .why-choose-us, .lifestyle, .dev-environment, .development, .holidays, .teachers, .reviews, .contacts {
        padding-top: 90px;
    }
}
