/* БЛОК НОВОСТЕЙ */
.news-list {}

.main__news-list {}

.news-list__container {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.news-list__sort-buttons {
    display: flex;
    gap: 16px;
}

.news-list__sort-button-swiper {}

.news-list__sort-buttons-swiper-wrapper {}

.news-list__sort-buttons-swiper-slide {
    width: auto;
}

.news-list__button {
    display: inline-block;
    color: #303030;
    border-color: #BACC92;
}

.my-button:hover.news-list__button,
.my-button.active.news-list__button {
    border-color: #4E6932;
    color: #FFF;
    background-color: #4E6932;
}

.news-list__items {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: min-content;
    gap: 24px;
}

.news-list__item {
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background-color: #CFCFCF;
}

/* Цикл из 9 элементов (3 строки) */
/* Первый блок (1-3) */
.news-list__item:nth-child(9n + 1) {
    grid-column: 1 / span 6;
    grid-row: calc(5 * var(--block-index) + 1) / span 2;
    min-height: 540px;
}

.news-list__item:nth-child(9n + 2) {
    grid-column: 7 / span 6;
    grid-row: calc(5 * var(--block-index) + 1);
    min-height: 258px;
}

.news-list__item:nth-child(9n + 3) {
    grid-column: 7 / span 6;
    grid-row: calc(5 * var(--block-index) + 2);
    min-height: 258px;
}

/* Второй блок (4-6) */
.news-list__item:nth-child(9n + 4),
.news-list__item:nth-child(9n + 5),
.news-list__item:nth-child(9n + 6) {
    grid-row: calc(5 * var(--block-index) + 3);
    min-height: 320px;
}

.news-list__item:nth-child(9n + 4) {
    grid-column: 1 / span 4;
}

.news-list__item:nth-child(9n + 5) {
    grid-column: 5 / span 4;
}

.news-list__item:nth-child(9n + 6) {
    grid-column: 9 / span 4;
}

/* Третий блок (7-9) */
.news-list__item:nth-child(9n + 7) {
    grid-column: 1 / span 6;
    grid-row: calc(5 * var(--block-index) + 4);
    min-height: 258px;
}

.news-list__item:nth-child(9n + 8) {
    grid-column: 1 / span 6;
    grid-row: calc(5 * var(--block-index) + 5);
    min-height: 258px;
}

.news-list__item:nth-child(9n + 9) {
    grid-column: 7 / span 6;
    grid-row: calc(5 * var(--block-index) + 4) / span 2;
    min-height: 540px;
}

.news-list__item:hover {
    filter: brightness(0.9);
}

.news-list__item:hover .my-button {
    border-color: #4E6932;
    color: #FFF;
    background-color: #4E6932;
}

.wrapper.theme-white .news-list__item:hover .my-button {
    color: #000 !important;
    border: 1px solid #FFF;
    background: #FFF;
}

.wrapper.theme-white .news-list__item.--text-news .news-list__item-link {
    border: 1px solid #FFF;
}

.wrapper.theme-yellow .news-list__item:hover .my-button {
    color: #000 !important;
    border: 1px solid #FFFF00;
    background: #FFFF00;
}

.wrapper.theme-yellow .news-list__item.--text-news .news-list__item-link {
    border: 1px solid #FFFF00;
}

.wrapper.theme-blue .news-list__item:hover .my-button {
    color: #133C58 !important;
    border: 1px solid #9FD7FF;
    background: #9FD7FF;
}

.wrapper.theme-blue .news-list__item.--text-news .news-list__item-link {
    border: 1px solid #9FD7FF;
}

.wrapper.theme-blackWhite .news-list__item:hover .my-button {
    color: #FFF !important;
    border: 1px solid #000;
    background: #000;
}

.wrapper.theme-blackWhite .news-list__item.--text-news .news-list__item-link {
    border: 1px solid #000;
}

.wrapper.theme-blackGreen .news-list__item:hover .my-button {
    color: #A9DD38 !important;
    border: 1px solid #000;
    background: #000;
}

.wrapper.theme-blackGreen .news-list__item.--text-news .news-list__item-link {
    border: 1px solid #000;
}

.news-list__item-inner {
    display: block;
    height: 100%;
}

.news-list__item-inner:hover {
    color: #303030;
}

.news-list__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.news-list__item-content {
    display: flex;
    flex-direction: column;
    padding: 40px;
    height: 100%;
    position: relative;
}

.news-list__item-title {
    padding: 12px 20px;
    background-color: #F6F6F6;
    color: #303030;
    border: none;
    border-radius: 16px;
    display: inline-block;
    position: absolute;
    bottom: 40px;
    left: 40px;
    right: 40px;
    width: fit-content;
}

.news-list__item-title:hover {
    border: none;
}

.news-list__item-text-content {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 5;
    height: 100%;
}

.news-list__item.--text-news {
    background-color: #C9DAA4;
    position: relative;
}

.news-list__item.--text-news:hover {
    filter: brightness(1);
}

.news-list__item.--text-news .news-list__item-title {
    display: none;
}

.news-list__item.--text-news .news-list__item-img {
    display: none;
}

.news-list__item.--text-news::before {
    content: '';
    display: inline-block;
    height: 148%;
    width: 174%;
    position: absolute;
    top: -180px;
    left: -20px;
    background: url('../../assets/images/patterns.png') 100% / cover;
    z-index: 1;
    opacity: .1;
}

.wrapper[class*="theme"] .news-list__item.--text-news::before {
    background: transparent;
}

.wrapper.theme-white .news-list__item.--text-news {
    background: #000;
}

.wrapper.theme-white .news-list__item.--text-news * {
    color: #FFF !important;
}

.wrapper.theme-yellow .news-list__item.--text-news {
    background: #000;
}

.wrapper.theme-yellow .news-list__item.--text-news * {
    color: #FFFF00 !important;
}

.wrapper.theme-blue .news-list__item.--text-news {
    background: #133C58;
}

.wrapper.theme-blue .news-list__item.--text-news * {
    color: #9FD7FF !important;
}

.wrapper.theme-blackWhite .news-list__item.--text-news {
    background: #FFF;
}

.wrapper.theme-blackWhite .news-list__item.--text-news * {
    color: #000 !important;
}

.wrapper.theme-blackGreen .news-list__item.--text-news {
    background: #A9DD38;
}

.wrapper.theme-blackGreen .news-list__item.--text-news * {
    color: #000 !important;
}

.news-list__item.--text-news .news-list__item-text-content {
    display: flex;
}

.news-list__item-date {
    font-size: 14px;
    line-height: 130%;
    color: #4E6932;
    margin-bottom: 16px;
}

.news-list__item-texts {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.news-list__item-text-title {
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 40px;
}

.news-list__item-text {
    font-size: 16px;
    line-height: 130%;
}

.news-list__item-link {
    display: inline-flex;
    margin-top: auto;
}

@media (max-width: 1361px) {
    .news-list {
        padding-top: 80px;
    }

    .news-list__container {
        padding-top: 0px;
    }

    .news-list__sort-button-swiper {
        overflow: visible;
    }

    .news-list__items {
        gap: 20px;
    }
}

@media (max-width: 1281px) {
    .news-list {
        padding-top: 70px;
    }

    .news-list__item-top {
        grid-template-rows: 230px 230px;
    }

    .news-list__item-bottom {
        grid-template-rows: 300px;
    }

    .news-list__button {
        font-size: 14px;
        line-height: 130%;
        padding: 15px 22px;
    }

    .news-list__item-content {
        padding: 30px;
    }

    .news-list__item-title {
        padding: 12px 20px;
        font-size: 14px;
        bottom: 30px;
        left: 30px;
        right: 30px;
    }
}

@media (max-width: 991px) {
    .news-list {
        padding-top: 65px;
    }

    .news-list__container {
        gap: 45px;
    }

    .news-list__items {
        gap: 18px;
    }

    .news-list__item:nth-child(9n + 1) {
        min-height: 480px;
    }

    .news-list__item:nth-child(9n + 2) {
        min-height: 230px;
    }

    .news-list__item:nth-child(9n + 3) {
        min-height: 230px;
    }

    .news-list__item:nth-child(9n + 4),
    .news-list__item:nth-child(9n + 5),
    .news-list__item:nth-child(9n + 6) {
        min-height: 300px;
    }

    .news-list__item:nth-child(9n + 7) {
        min-height: 230px;
    }

    .news-list__item:nth-child(9n + 8) {
        min-height: 230px;
    }

    .news-list__item:nth-child(9n + 9) {
        min-height: 480px;
    }

    .news-list__item-content {
        padding: 20px;
    }

    .news-list__item-title {
        padding: 12px 20px;
        font-size: 12px;
        bottom: 20px;
        left: 20px;
        right: 20px;
    }
}

@media (max-width: 768px) {
    .news-list {
        padding-top: 60px;
    }

    .news-list__container {
        gap: 50px;
    }

    .news-list__button {
        font-size: 14px;
        line-height: 130%;
        padding: 15px 22px;
    }

    .news-list__items {
        gap: 20px;
        grid-template-columns: 1fr !important;
    }

    .news-list__item {
        grid-column: 1 !important;
        grid-row: auto !important;
    }

    .news-list__item:nth-child(9n + 1) {
        min-height: 240px;
    }

    .news-list__item:nth-child(9n + 2) {
        min-height: 240px;
    }

    .news-list__item:nth-child(9n + 3) {
        min-height: 480px;
    }

    .news-list__item:nth-child(9n + 4) {
        min-height: 300px;
    }

    .news-list__item:nth-child(9n + 5) {
        min-height: 270px;
    }

    .news-list__item:nth-child(9n + 6) {
        min-height: 540px;
    }

    .news-list__item:nth-child(9n + 7) {
        min-height: 240px;
    }

    .news-list__item:nth-child(9n + 8) {
        min-height: 240px;
    }

    .news-list__item:nth-child(9n + 9) {
        min-height: 340px;
    }

    .news-list__item-content {
        padding: 30px;
    }

    .news-list__item-title {
        padding: 12px 20px;
        font-size: 14px;
        bottom: 30px;
        left: 30px;
        right: 30px;
    }
}

@media (max-width: 651px) {
    .news-list__container {
        gap: 55px;
    }
}

@media (max-width: 571px) {
    .news-list__container {
        gap: 60px;
    }

    .news-list__button {
        font-size: 12px;
        line-height: 100%;
        padding: 14px 19px;
    }

    .news-list__items {
        gap: 22px;
    }
}

@media (max-width: 431px) {
    .news-list__button {
        padding: 12px 19px;
    }

    .news-list__items {
        gap: 24px;
    }
}