.button-up {
    height: 52px;
    width: 52px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1049;
}

.button-up.visible {
    opacity: 1;
    visibility: visible;
}

.button-up__img {
    max-width: 52px;
    max-height: 52px;
}

.button-up__img svg {
    width: 100%;
    height: 100%;
}

.wrapper.theme-white .button-up__img svg circle {
    stroke: #FFF;
    fill: #000;
}
.wrapper.theme-white .button-up__img svg path {
    stroke: #FFF;
}

.wrapper.theme-yellow .button-up__img svg circle {
    stroke: #FFFF00;
    fill: #000;
}
.wrapper.theme-yellow .button-up__img svg path {
    stroke: #FFFF00;
}

.wrapper.theme-blue .button-up__img svg circle {
    stroke: #9FD7FF;
    fill: #133C58;
}
.wrapper.theme-blue .button-up__img svg path {
    stroke: #9FD7FF;
}

.wrapper.theme-blackWhite .button-up__img svg circle {
    stroke: #000;
    fill: #FFF;
}
.wrapper.theme-blackWhite .button-up__img svg path {
    stroke: #000;
}

.wrapper.theme-blackGreen .button-up__img svg circle {
    stroke: #000;
    fill: #A9DD38;
}
.wrapper.theme-blackGreen .button-up__img svg path {
    stroke: #000;
}

@media (max-width: 1361px) {
    .button-up {
        margin-right: 40px;
    }
}

@media (max-width: 1281px) {
    .button-up {
        height: 50px;
        width: 50px;
    }

    .button-up__img {
        max-width: 50px;
        max-height: 50px;
    }
}

@media (max-width: 992px) {}

@media (max-width: 769px) {
    .button-up {
        height: 47px;
        width: 47px;
        margin-right: 30px;
    }

    .button-up__img {
        max-width: 47px;
        max-height: 47px;
    }
}

@media (max-width: 651px) {}

@media (max-width: 551px) {
    .button-up {
        height: 45px;
        width: 45px;
        bottom: 24px;
        right: 31px;
    }

    .button-up__img {
        max-width: 45px;
        max-height: 45px;
    }
}

@media (max-width: 431px) {}