.footer {
    padding: 24px 0px 81px 0px;
}
.footer__container {
}
.footer__inner {
    background: #4E6932;
    padding: 33px 40px 60px 40px;
    border-radius: 24px;
    display: flex;
}
.footer__left {
}
.footer__logo-link {
    display: inline-block;
    margin-bottom: 38px;
    max-height: 49px;
}
.footer__logo-img {
    height: 100%;
}
.footer__info-text {
    color: #FFF;
    width: 208px;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
}
.footer__right {
    width: 100%;
    align-self: flex-end;
}
.footer__menu {
    display: flex;
    justify-content: center;
}
.footer__menu-list {
    display: flex;
}
.footer__menu-item {
}
.footer__menu-item:not(:last-child) {
    margin-right: 40px;
}
.footer__menu-link {
    font-size: 16px;
    color: #FFF;
}

@media (max-width: 1281px) {
    .footer {
        padding: 32px 0px 60px 0px;
    }
}
@media (max-width: 1101px) {
    .footer {
        padding: 45px 0px 47px 0px;
    }
    .footer__menu {
        justify-content: flex-end;
    }
    .footer__menu-list {
        flex-direction: column;
        gap: 18px;
    }
}

@media (max-width: 992px) {
    .footer {
        padding: 50px 0px 25px 0px;
    }
    .footer__menu {
        justify-content: flex-end;
    }
    .footer__menu-list {
        flex-direction: column;
        gap: 18px;
    }
}

@media (max-width: 769px) {
    .footer {
        padding: 71px 0px 0px 0px;
    }
    .footer__container {
        padding: 0px;
    }
    .footer__inner {
        padding: 42px 30px 50px 30px;
        border-radius: 24px 24px 0px 0px;
        gap: 31px;
    }
    .footer__menu {
        justify-content: flex-end;
    }
    .footer__logo-link {
        margin-bottom: 31px;
    }
    .footer__menu-list {
        flex-direction: column;
        gap: 18px;
    }
    .footer__menu-item:not(:last-child) {
        margin-right: 0px;
    }
    .footer__menu-link {
        font-size: 16px;
    }
}

@media (max-width: 651px) {
    .footer {
        padding: 85px 0px 0px 0px;
    }
}

@media (max-width: 501px) {
    .footer {
        padding: 90px 0px 0px 0px;
    }
    .footer__container {
        padding: 0px;
    }
    .footer__inner {
        flex-direction: column;
        gap: 27px;
    }
    .footer__menu {
        justify-content: flex-start;
    }
    .footer__logo-link {
        margin-bottom: 27px;
    }
    .footer__menu-list {
        flex-direction: column;
    }
}

@media (max-width: 431px) {
    .footer__inner {
        gap: 24px;
    }
    .footer__logo-link {
        margin-bottom: 24px;
    }
    .footer__menu-list {
        flex-direction: column;
        gap: 16px;
    }
    .footer__menu-link {
        font-size: 14px;
    }
}