.feedback-form {
    background-color: #FCFCFC;
    border-radius: 16px;
    padding: 32px 40px 29px 40px;
}
.feedback-form__elements {
    display: flex;
    flex-direction: column;
}
.feedback-form__input {
}
.feedback-form__input:not(:last-child) {
    margin-bottom: 16px;
}
.feedback-form__input[name="input-phone"] {
    margin-bottom: 28px;
}
.feedback-form__checkbox {
    margin-bottom: 45px;
}
.feedback-form__button {
    padding-top: 18px;
    padding-bottom: 18px;
}

@media (width < 1281px) {

}

@media (width < 992px) {
    .feedback-form {
        padding: 25px 30px 30px 30px;
    }
}

@media (width < 769px) {
    .feedback-form {
        padding: 25px 30px 30px 30px;
    }
}

@media (width < 651px) {
    
}

@media (width < 551px) {
    .feedback-form {
        padding: 25px 25px 30px 25px;
    }
}

@media (width < 431px) {
    .feedback-form {
        padding: 20px 20px 30px 20px;
    }
}
