.header {
}

@media (min-width: 769px) {
    .header {
        position: sticky;
        top: 0;
        z-index: 1000;
        transition: top 0.3s ease;
    }

    .header.fixed {
        position: fixed;
        top: -100px;
        width: 100%;
        background-color: #FFF;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        animation: slideDown 0.3s ease forwards;
    }

    .header.fixed .header__container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    

    @keyframes slideDown {
        from {
            top: -100px;
        }

        to {
            top: 0;
        }
    }
}

.header__container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.header__desktop {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.header__mobile {
    display: none;
}
.header__mobile.--no-sectionsLinks .header__mobile-section-links {
    display: none;
}
.header__left {
}
.header__logo-link {
    display: inline-block;
    max-height: 48px;
}
.header__logo-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.pre-mobile-menu {
    display: none;
}
.header__menu {
    padding: 14px 28px;
    border: 1.6px solid #96B554;
    border-radius: 100px;
}
.header__menu-list {
    display: flex;
}
.header__menu-item {
}
.header__menu-item:not(:last-child) {
    margin-right: 20px;
}
.header__menu-link {
    font-size: 16px;
    line-height: 100%;
    color: #030303;
}
.header__contacts {
    display: flex;
    gap: 24px;
}
.header__smp {
    display: flex;
    gap: 8px;
}
.header__smp-link {
}
.header__smp-img {
}
.header__buttons {
    display: flex;
    gap: 8px;
}
.header__button {
    font-family: 'Montserrat';
    font-weight: 500;
    color: #030303;
    border: 1px solid #96B554;
    padding: 15px 25px;
}
.header__link-phone {
    font-family: 'Montserrat';
    font-weight: 500;
    color: #030303;
    padding: 15px 25px;
}

.mobile-menu__content {
    position: absolute;
    top: 94px;
    right: -100%;
    height: 100vh;
    width: 100%;
    background: #F8F8F8;
    display: none;
    transition: right 0.3s ease-in-out;
    z-index: 2000;
}
.mobile-menu__content.visible {
    display: block;
    right: 0;
}
.mobile-menu__content-inner {
    padding: 30px;
    background: #F8F8F8;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.mobile-menu__links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.mobile-menu__link-item {
}
.mobile-menu__link {
    line-height: 100%;
    color: #030303;
}
.mobile-menu__buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 150px;
}
.header__mobile-link-phone {
    font-size: 12px;
    line-height: 100%;
    color: #030303;
    padding: 9px 10px;
}
.header__mobile-button {
    font-size: 12px;
    line-height: 100%;
    color: #030303;
    text-transform: uppercase;
    padding: 9px 10px;
}
.mobile-menu__contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.mobile-menu__contact-link {
    line-height: 100%;
    color: #4E6932;
}

@media (max-width: 1340px) {
    .header {
        padding: 40px 0px;
    }
    .header.fixed {
        padding: 20px 0px;
    }
    .header__container {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .header.fixed .header__container {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

@media (max-width: 1318px) {
    .header {
        padding: 40px 0px;
        background: #FFF;
    }
    .header__left {
        display: flex;
        align-items: center;
        gap: 50px;
    }
    .header__menu {
        display: none;
    }
    .pre-mobile-menu {
        display: block;
    }
    .header__pre-mobile-menu {
        width: 36px;
    }
    .pre-mobile-menu__dropdown {
    }
    .pre-mobile-menu__dropdown.show {
        display: flex;
        flex-direction: column;
    }
    .burger-button {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 36px;
        width: 100%;
        height: 26px;
    }
    .burger-button span {
        width: 100%;
        height: 2px;
        background-color: #4E6932;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }
    .burger-button.show span:nth-of-type(1) {
        transform: rotate(45deg) translate(6px, 11px);
    }
    .burger-button.show span:nth-of-type(2) {
        opacity: 0;
    }
    .burger-button.show span:nth-of-type(3) {
        transform: rotate(-45deg) translate(6px, -11px);
    }
    .burger-button:hover {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 36px;
        width: 100%;
        height: 26px;
    }
    .pre-mobile-menu__dropdown-menu {
        width: 215px;
        inset: -30px auto auto 61px !important;
        border: 1px solid #4E6932;
        padding: 0px;
        border-radius: 11px;
        overflow: hidden;
    }
    .pre-mobile-menu__dropdown-item {
        font-size: 18px;
        line-height: 100%;
        color: #030303!important;
        padding: 12px 18px;
    }
    .pre-mobile-menu__dropdown-item:hover, .pre-mobile-menu__dropdown-item:active, .pre-mobile-menu__dropdown-item:focus {
        color: #4E6932;
        background: #C7D8A5;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 0px;
        width: 100%;
        z-index: 1000;
    }
    .header__container {
        padding: 0px;
    }
    .header__desktop {
        display: none;
    }
    .header__mobile {
        display: flex;
        flex-direction: column;
    }
    .header__mobile-top {
        position: absolute;
        width: 100%;
        padding: 23px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #F8F8F8;
        padding-bottom: 24px;
        transition: transform 0.3s ease;
    }
    .mobile-menu {
    }

    .header__mobile-menu {
        width: 36px;
        height: 24px;
    }

    .header__mobile-section-links {
        position: absolute;
        top: 95px;
        padding: 24px 30px 23px 30px;
        transition: transform 0.3s ease;
        overflow-x: hidden;
        z-index: -1;
        width: 100%;
    }
    .header__mobile-top.active {
        position: fixed;
    }
    .header__mobile-section-links.active {
        position: fixed;
        background-color: #F8F8F8;
    }
    .header__mobile-top.hidden {
        transform: translateY(-100%);
    }
    .header__mobile-section-links.visible {
        position: fixed;
        top: 0px;
        background-color: #F8F8F8;
    }
    .header__links-slider {
        max-width: 769px;
        width: 100%;
        position: relative;
    }
    .header__links-swiper {
        overflow: visible;
        width: 100%;
    }
    .header__links-swiper-wrapper {
        overflow: visible;
    }
    .header__links-swiper-slide {
        display: inline-block;
        width: auto !important;
        white-space: nowrap; 
    }
    .header__link-slide {
        font-size: 14px;
        font-weight: 500;
        line-height: 100%;
        padding: 7px;
        display: inline-block;
        background-color: #FFF;
    }
}
@media (max-width: 600px) {
    .header__mobile-section-links {
        top: 80px;
    }
    .mobile-menu__content {
        position: absolute;
        top: 80px;
    }
    .header__logo-link {
        max-width: 52px;
    }
    .header__link-phone {
        font-size: 15px;
        padding: 12px 20px;
    }
}
@media (max-width: 430px) {
    .header__logo-link {
        max-width: 47px;
    }
    .header__link-phone {
        font-size: 12px;
        line-height: 100%;
    }
}
