.my-stories {
}
.main__my-stories {
}
.my-stories__container {
    padding-top: 60px;
    padding-bottom: 80px;
}
.my-stories__inner {
}
.my-stories__swiper {
    overflow: hidden;
}
.my-stories__swiper-wrapper {
}
.my-stories__swiper-slide {
    max-width: 99px;
    cursor: pointer;
}
.my-stories__slide {
    max-width: 99px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.my-stories__slide-img-wrap {
    height: 99px;
    max-width: 99px;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #4E6932;
    padding: 4px;
    background-color: #FFF;
}
.my-stories__slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.my-stories__title {
    font-size: 14px;
    font-weight: 500!important;
    line-height: 130%;
}

/* ИЗМЕНЕНИЕ СТИЛЕЙ БИБЛИОТЕКИ */
.stories.carousel {
    display: flex;
}
.stories.carousel .story {
    max-width: 100px;
    width: 100px;
    margin: 0px;
}
.stories.carousel .story > .item-link > .item-preview {
    max-height: 100px;
    height: 100px;
    border: 1px solid #4E6932;
    padding: 0px;
}
.stories.carousel .story > .item-link > .info {
    font-size: 14px;
    line-height: 130%;
    margin-top: 12px;
}

#zuck-modal-content .story-viewer .head .right .close, #zuck-modal-content .story-viewer .head .back {
    color: #fff;
}


@media (max-width: 1361px) {
    .my-stories {
        padding-top: 60px;
        padding-bottom: 80px;
    }
    .my-stories__container {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .my-stories__swiper {
        overflow: visible;
    }
}

@media (max-width: 1281px) {
    .my-stories {
        padding-bottom: 70px;
    }
    .my-stories__swiper-slide {
        max-width: 94px;
    }
    .my-stories__slide-img-wrap {
        height: 94px;
        max-width: 94px;
    }
    .stories.carousel .story {
        max-width: 94px;
        width: 94px;
    }
    .stories.carousel .story > .item-link > .item-preview {
        max-height: 94px;
        height: 94px;
    }
}
@media (max-width: 992px) {
    .my-stories {
        padding-top: 60px;
    }
}
@media (max-width: 769px) {
    .my-stories {
        padding-top: 60px;
        padding-bottom: 0px;
    }
    .my-stories__title {
        font-size: 13px;
    }
    .my-stories__swiper-slide {
        max-width: 91px;
    }
    .my-stories__slide-img-wrap {
        height: 91px;
        max-width: 91px;
    }
    .stories.carousel .story {
        max-width: 91px;
        width: 91px;
    }
    .stories.carousel .story > .item-link > .item-preview {
        max-height: 91px;
        height: 91px;
    }
    .stories.carousel .story > .item-link > .info {
        font-size: 13px;
    }
}

@media (max-width: 651px) {
}

@media (max-width: 551px) {
    .my-stories__swiper-slide {
        max-width: 88px;
    }
    .my-stories__slide-img-wrap {
        height: 88px;
        max-width: 88px;
    }
    .stories.carousel .story {
        max-width: 88px;
        width: 88px;
    }
    .stories.carousel .story > .item-link > .item-preview {
        max-height: 88px;
        height: 88px;
    }
}

@media (max-width: 431px) {
    .my-stories__title {
        font-size: 12px;
    }
    .stories.carousel .story > .item-link > .info {
        font-size: 12px;
    }
}
