.hero-section {
    position: relative;
}
.hero-section.--no-links .hero-section__links {
    display: none
}
.hero-section.--no-location .hero-section__title > .hero-section__location {
    display: none
}
/* .hero-section__background-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
@media (max-width: 1318px) {
    .hero-section__background-img {
        display: none;
    }
} */
.main__hero-section {
}
.hero-section__container {
    padding-top: 41px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    position: relative;
    z-index: 5;
}
.hero-section__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 610px;
}
.hero-section__body-texts {
}
.hero-section__title {
    font-size: 36px;
    line-height: 120%;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 32px;
}
.hero-section__title > span {
    color: #4E6932;
}
.hero-section__location {
    font-size: 14px;
    line-height: 130%;
    display: inline-flex;
    align-items: flex-end;
    text-transform: capitalize;
}
.hero-section__location-img {
    margin-right: 5px;
    margin-bottom: 1.5px;
    display: inline-block;
    height: 24px;
    width: 24px;
    vertical-align: top;
}
.hero-section__location-text {
}
.hero-section__pre-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 130%;
    color: #303030;
    max-width: 504px;
    width: 504px;
}
.hero-section__pre-title:not(:last-child) {
    margin-bottom: 24px;
}
.hero-section__text {
    font-size: 16px;
    line-height: 130%;
    max-width: 504px;
    width: 504px;
}
.hero-section__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.hero-section__list:not(:last-child) {
    margin-bottom: 26px;
}
.hero-section__list-item::before {
    content: '';
    position: relative;
    display: inline-block;
    height: 9px;
    width: 9px;
    background-color: #303030;
    top: 1px;
    left: 0;
    margin-right: 20px;
    border-radius: 50%;
    margin-top: 5px;
    flex-shrink: 0;
}
.hero-section__list-item {
    font-size: 16px;
    line-height: 130%;
    color: #303030;
    text-transform: lowercase;
    display: flex;
    align-items: flex-start;
}
.hero-section__links {
    display: flex;
    gap: 24px;
}
.hero-section__link {
    width: 293px;
    height: 160px;
    font-family: 'Jost';
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    color: #303030;
    text-transform: uppercase;
    background-color: #F8F8F8;
    padding: 20px;
    border-radius: 24px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    position: relative;
}
.hero-section__link::after {
    content: url('../../../assets/images/icons/arrow-black.svg');
    padding: 8.5px;
    background-color: #FFF;
    border-radius: 50%;
    height: 43px;
    transform: rotate(-45deg);
    box-shadow: -2px 4px 4px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 16px;
    right: 15px;
    z-index: 5;
}
.hero-section__link:hover {
    color: #030303;
    background-color: #C9DAA4;
}
.hero-section__link.active {
    background-color: #C9DAA4;
}
.hero-section__link.active::before {
    content: '';
    display: inline-block;
    height: 242%;
    width: 205%;
    position: absolute;
    top: -218px;
    left: 0px;
    background: url('../../../assets/images/patterns.png') 100% / cover;
    z-index: 2;
    opacity: .1;
}
.hero-section__right-content {
    width: 610px;
    max-height: 540px;
    max-width: 610px;
}
.hero-section__right-content > .hero-section__title {
    display: none;
}
.hero-section__wrap-img {
    max-height: 540px;
    max-width: 610px;
    border-radius: 24px;
    height: 540px;
    width: 100%;
    overflow: hidden;
}
.hero-section__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1340px) {
    .hero-section {
        padding-top: 28px;
    }
    .hero-section__container {
        padding-top: 0px;
    }
    .hero-section__link.active::before {
        height: 220%;
        width: 300%;
        position: absolute;
        top: -118px;
        left: -20px;
    }
}

@media (max-width: 1281px) {
    .hero-section__container {
        gap: 30px;
    }
    .hero-section__title {
        font-size: 34px;
        margin-bottom: 22px;
    }
    .hero-section__pre-title {
        font-size: 22px;
    }
    .hero-section__pre-title:not(:last-child) {
        margin-bottom: 22px;
    }
    .hero-section__text {
        max-width: 445px;
    }
    .hero-section__pre-title {
        max-width: 445px;
    }
    .hero-section__list-item {
        font-size: 16px;
    }
    .hero-section__list-item::before {
        height: 10px;
        width: 10px;
        margin-right: 18px;
    }
    .hero-section__list {
        gap: 10px;
    }
    .hero-section__link {
        width: 240px;
        height: 120px;
        font-size: 16px;
    }
    .hero-section__right-content {
        width: 100%;
        max-height: 560px;
    }
    .hero-section__wrap-img {
        max-height: 481px;
        max-width: none;
        width: 100%;
    }
}
@media (max-width: 992px) {
    .hero-section__container {
        gap: 45px;
        flex-direction: column-reverse;
    }
    .hero-section__body {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: space-between;
        align-items: center;
        max-width: none;
    }
    .hero-section__title {
        font-size: 36px;
        margin-top: 0px;
    }
    .hero-section__pre-title {
        font-size: 20px;
        max-width: 430px;
    }
    .hero-section__body-texts > .hero-section__title {
        display: none;
    }
    .hero-section__text {
        font-size: 15px;
        max-width: 430px;
    }
    .hero-section.--no-links .hero-section__pre-title {
        font-size: 24px;
    }
    .hero-section.--no-links .hero-section__text {
        font-size: 16px;
    }
    .hero-section.--no-links .hero-section__text, .hero-section.--no-links .hero-section__pre-title {
        width: 100%;
        max-width: none;
    }
    .hero-section__list {
        margin-bottom: 0px;
    }
    .hero-section__list-item {
        font-size: 17px;
    }
    .hero-section__links {
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
    .hero-section__link {
        display: flex;
        justify-content: center;
        width: auto;
        text-align: center;
        height: auto;
        font-size: 16px;
        padding:  19px 20px;
    }
    .hero-section__link > br {
        display: none;
    }
    .hero-section__link::after {
        display: none;
    }
    .hero-section__right-content {
        max-height: none;
        max-width: none;
    }
    .hero-section__right-content > .hero-section__title {
        display: block;
    }
    .hero-section__link.active::before {
        height: 200%;
        width: 335%;
        top: -34px;
    }
}
@media (max-width: 903px) {
    .hero-section__link {
        width: 230px;
    }
}
@media (max-width: 769px) {
    .hero-section__container {
        gap: 34px;
    }
    .hero-section__body {
        gap: 60px;
        flex-direction: column;
    }
    .hero-section__pre-title {
        font-size: 24px;
        width: 100%;
        max-width: none;
    }
    .hero-section__pre-title:not(:last-child) {
        margin-bottom: 26px;
    }
    .hero-section__text {
        width: 100%;
        max-width: none;
    }
    .hero-section.--no-links .hero-section__pre-title {
        font-size: 22px;
    }
    .hero-section.--no-links .hero-section__text {
        font-size: 15px;
    }
    .hero-section__list {
        gap: 18px;
    }
    .hero-section__list-item::before {
        margin-right: 12px;
    }
    .hero-section__links {
        gap: 18px;
        width: 100%;
    }
    .hero-section__link {
        width: 100%;
    }
    .hero-section__link.active::before {
        height: 327%;
        width: 108%;
        position: absolute;
        top: -138px;
        left: 0px;
    }
    .hero-section__right-content > .hero-section__title {
        font-size: 30px;
        margin-bottom: 31px;
    }
    .hero-section__wrap-img {
        max-height: 390px;
    }
}
@media (max-width: 651px) {
    .hero-section__body {
        gap: 61px;
    }
    .hero-section__right-content > .hero-section__title {
        font-size: 27px;
    }
    .hero-section__pre-title:not(:last-child) {
        margin-bottom: 23px;
    }
    .hero-section__pre-title {
        font-size: 22px;
    }
    .hero-section__wrap-img {
        max-height: 330px;
    }
    .hero-section__list-item {
        font-size: 17px;
    }
}
@media (max-width: 551px) {
    .hero-section__container {
        gap: 28px;
    }
    .hero-section__body {
        gap: 47px;
    }
    .hero-section__right-content > .hero-section__title {
        margin-bottom: 30px;
    }
    .hero-section__right-content > .hero-section__title {
        font-size: 22px;
    }
    .hero-section__pre-title:not(:last-child) {
        margin-bottom: 20px;
    }
    .hero-section__pre-title {
        font-size: 20px;
        line-height: 120%;
    }
    .hero-section__text {
        font-size: 14px;
    }
    .hero-section__text {
        font-size: 14px;
        line-height: 120%;
    }
    .hero-section__list-item {
        font-size: 14px;
    }
    .hero-section__list-item::before {
        margin-right: 13px;
    }
    .hero-section__links {
        gap: 15px;
    }
    .hero-section__wrap-img {
        max-height: 275px;
    }
}

@media (max-width: 431px) {
    .hero-section__right-content .hero-section__title {
        font-size: 22px;
        line-height: 30px;
    }
    .hero-section__body-texts {
        align-self: flex-start;
    }
    .hero-section__link.active::before {
        height: 301%;
        width: 119%;
        position: absolute;
        top: -117px;
        left: 0px;
    }
}

@media (max-width: 768px) {
    .hero-section {
        padding-top: calc(40px + 95px);
    }
}
@media (max-width: 600px) {
    .hero-section {
        padding-top: calc(40px + 85px);
    }
}
@media (max-width: 430px) {
    .hero-section {
        padding-top: calc(40px + 84px);
    }
}