.simple-slider-section {
    position: relative;
}
.main__simple-slider-section {
}
.simple-slider-section__background-img {
    position: absolute;
    top: 297px;
    left: 0px;
    z-index: 3;
}
.simple-slider-section__container {
    position: relative;
    z-index: 5;
}
.simple-slider-section__title {
    max-width: 610px;
}
.simple-slider-section__slider {
    position: relative;
}
.simple-slider-section__swiper {
}
.simple-slider-section__swiper-wrapper {
}
.simple-slider-section__swiper-slide {
}
.simple-slider-section__slide {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 302px;
}
.simple-slider-section__slide-img-wrap {
    border-radius: 24px;
    overflow: hidden;
    background-color: #FCFCFC;
    height: 320px;
    width: 302px;
}
.simple-slider-section__slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.simple-slider-section__slide-body {
}
.simple-slider-section__slide-title {
    font-size: 20px;
    line-height: 120%;
    color: #4E6932;
    margin-bottom: 16px;
}
.simple-slider-section__slide-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    color: #303030;
    max-width: none;
}
.simple-slider-section__swiper-button-prev {
}
.simple-slider-section__swiper-button-next {
}
.simple-slider-section__swiper-pagination {
    display: none;
    font-size: 32px;
    line-height: 120%;
    color: #CFCFCF;
    width: auto;
}
.simple-slider-section__swiper-controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 1341px) {
    .simple-slider-section__slide {
        gap: 20px;
    }
    .simple-slider-section__slide-img-wrap {
        height: auto;
        width: auto;
        aspect-ratio: 302 / 320;
    }
    .simple-slider-section__slide-title {
        font-size: 18px;
        margin-bottom: 10px;
    }
}

@media (max-width: 992px) {
    .simple-slider-section__slide {
        max-width: none;
        gap: 18px;
    }
    .simple-slider-section__slide-title {
        font-size: 15px;
        margin-bottom: 10px;
    }
    .simple-slider-section__slide-text {
        font-size: 14px;
    }
    .simple-slider-section__slide-img-wrap {
        height: auto;
        width: auto;
    }
}

@media (max-width: 769px) {
    .simple-slider-section__swiper-slide {
        height: auto;
    }
    .simple-slider-section__slide {
        gap: 25px;
        height: 100%;
    }
    .simple-slider-section__slide-img-wrap {
        order: 2;
    }
    .simple-slider-section__slide-body {
        order: 1;
        flex-grow: 1;
    }
    .simple-slider-section__slide-title {
        font-size: 18px;
        margin-bottom: 13px;
    }
    .simple-slider-section__swiper-button-prev, .simple-slider-section__swiper-button-next{
        position: static;
    }
    .simple-slider-section__swiper-navigation {
        position: static;
    }
    .simple-slider-section__swiper-controls {
        margin-bottom: 30px;
        justify-content: flex-end;
    }
}

@media (max-width: 651px) {
    
}

@media (max-width: 551px) {
    .simple-slider-section__swiper-controls {
        position: absolute;
        margin-bottom: 0;
        width: 100%;
        height: 100%;
    }
    .simple-slider-section__swiper-navigation {
        gap: 5px;
    }
    .simple-slider-section__swiper-pagination {
        display: block;
        bottom: 18px;
    }
    .simple-slider-section__slider {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .simple-slider-section__slide {
        position: relative;
        gap: 28px;
    }
    .simple-slider-section__slide-body {
        display: flex;
        flex-direction: column;
    }
    .simple-slider-section__slide-img-wrap {
        background-color: #F6F6F6;
        height: 350px;
        /* max-width: 430px; */
        width: 100%;
        align-self: center;
    }
    .simple-slider-section__slide-title {
        font-size: 18px;
        margin-bottom: 20px;
        max-width: 300px;
    }
    .simple-slider-section__slide-text {
        max-width: 430px;
    }
}

@media (max-width: 431px) {
    .simple-slider-section__slide {
        gap: 30px;
    }
    .simple-slider-section__slide-img-wrap {
        background-color: #F6F6F6;
        height: 275px;
    }
    .simple-slider-section__slide-title {
        max-width: 250px;
    }
    .simple-slider-section__slide-text {
        font-size: 14px;
    }
}