.block-title {
    font-size: 52px;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 60px;
    text-transform: uppercase;
}

@media (max-width: 1281px) {
    .block-title {
        font-size: 42px;
        margin-bottom: 55px;
    }
}
@media (max-width: 992px) {
    .block-title {
        font-size: 35px;
        margin-bottom: 50px;
    }
}
@media (max-width: 769px) {
    .block-title {
        font-size: 46px;
    }
}
@media (max-width: 651px) {
    .block-title {
        font-size: 38px;
        margin-bottom: 48px;
    }
}
@media (max-width: 551px) {
    .block-title {
        font-size: 35px;
        margin-bottom: 45px;
    }
}

@media (max-width: 431px) {
    .block-title {
        font-size: 32px;
    }
}


.swiper {
    width: 100%;
    height: 100%;
    user-select: none;
}

.swiper-navigation {
    position: absolute;
    top: -67px;
    right: 0;
    display: flex;
    gap: 16px;
}

.swiper-button-prev, .swiper-button-next {
    height: 26px;
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    user-select: none;
    margin-top: 0px;
    opacity: 1;
}
.swiper-button-prev::after, .swiper-button-next::after {
    content: '';
}
.swiper-button-prev {
    right: 42px;
    top: 0;
}
.swiper-button-next.swiper-button-disabled svg path, .swiper-button-prev.swiper-button-disabled svg path {
    fill: rgba(179, 179, 179, 1);
}
.swiper-button-prev-img {
}
.swiper-button-next {
}
.swiper-button-next-img {
}

.swiper-pagination-bullet {
    opacity: 1;
    background: #FCFCFC;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #4E6932;
}

.my-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    transition: opacity 0.3s ease-in-out;
}

.my-overlay.visible {
    display: block;
    opacity: 1;
}

.no-scroll {
    overflow: hidden; 
}

.tippy-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid #4E6932;
}
.tippy-content {
    padding: 0px;
    font-size: 16px;
    line-height: 120%;
    color: #4E6932;
}

@media (max-width: 769px) {
    .tippy-box {
        padding: 15px;
    }
    .tippy-content {
        font-size: 16px;
    }
}
@media (max-width: 651px) {
    .tippy-content {
        font-size: 15px;
    }
}
@media (max-width: 551px) {
    .tippy-content {
        font-size: 14px;
    }
}

.hero-section > [class$='__background-img'], .branches > [class$='__background-img'], .project-activity > [class$='__background-img'], .modern-tools > [class$='__background-img'], .why-choose-us > [class$='__background-img'], .lifestyle > [class$='__background-img'], .dev-environment > [class$='__background-img'], .development > [class$='__background-img'], .holidays > [class$='__background-img'], .staff > [class$='__background-img'], .reviews > [class$='__background-img'] {
    display: none;
}


/* ЕСЛИ БЛОК НЕ ШАБЛОННЫЙ(УНИКАЛЬНЫЙ ДЛЯ СТРАНИЦЫ ПО ОФОРЛЕНИЮ) И НАХОДИТСЯ СВЕРХУ ПОД СТОРИС, НАДО ДОБАВЛЯТЬ ЕГО СЮДА НАЧИНАЯ ТОЛЬКО С ШИРИНЫ 769px */
/* ЕСЛИ БЛОК ШАБЛОННЫЙ СНИЗУ НАПИСАНО ЧТО ДЕЛАТЬ */
.branches, .inspiration, .project-activity, .modern-tools, .preparing-child, .why-choose-us, .lifestyle-item, .dev-environment, .development, .holidays, .staff, .reviews, .contacts, .feedback, .simple-slider-section, .awards, .lesson-structure, .lesson-teacher, .child-age, .advantage-item {
    padding-top: 0px;
}

.branches__container, .inspiration__container, .project-activity__container, .modern-tools__container, .preparing-child__container, .why-choose-us__container, .lifestyle-item__container, .dev-environment__container, .development__container, .holidays__container, .staff__container, .reviews__container, .contacts__container, .feedback__container, .simple-slider-section__container, .awards__container, .lesson-structure__container, .lesson-teacher__container, .child-age__container, .advantage-item__container {
    padding-top: 120px;
}

@media (max-width: 1361px) {
    .branches, .inspiration, .project-activity, .modern-tools, .preparing-child, .why-choose-us, .lifestyle-item, .dev-environment, .development, .holidays, .staff, .reviews, .contacts, .feedback, .simple-slider-section, .awards, .lesson-structure, .lesson-teacher, .child-age, .advantage-item {
        padding-top: 120px;
    }
    .branches__container, .inspiration__container, .project-activity__container, .modern-tools__container, .preparing-child__container, .why-choose-us__container, .lifestyle-item__container, .dev-environment__container, .development__container, .holidays__container, .staff__container, .reviews__container, .contacts__container, .feedback__container, .simple-slider-section__container, .awards__container, .lesson-structure__container, .lesson-teacher__container, .child-age__container, .advantage-item__container {
        padding-top: 0px;
    }
}

@media (max-width: 1281px) {
    .branches, .inspiration, .project-activity, .modern-tools, .preparing-child, .why-choose-us, .lifestyle-item, .dev-environment, .development, .holidays, .staff, .reviews, .contacts, .feedback, .simple-slider-section, .awards, .lesson-structure, .lesson-teacher, .child-age, .advantage-item {
        padding-top: 115px;
    }
}
@media (max-width: 992px) {
    .branches, .inspiration, .project-activity, .modern-tools, .preparing-child, .why-choose-us, .lifestyle-item, .dev-environment, .development, .holidays, .staff, .reviews, .contacts, .feedback, .simple-slider-section, .awards, .lesson-structure, .lesson-teacher, .child-age, .advantage-item {
        padding-top: 111px;
    }
}
@media (max-width: 769px) {
    .branches, .inspiration, .project-activity, .modern-tools, .preparing-child, .why-choose-us, .lifestyle-item, .dev-environment, .development, .holidays, .staff, .reviews, .contacts, .feedback, .simple-slider-section, .about-info, .awards, .lesson-structure, .lesson-teacher, .why-need-school, .child-age, .advantage-item {
        padding-top: 107px;
    }
}
@media (max-width: 651px) {
    .branches, .inspiration, .project-activity, .modern-tools, .preparing-child, .why-choose-us, .lifestyle-item, .dev-environment, .development, .holidays, .staff, .reviews, .contacts, .feedback, .simple-slider-section, .about-info, .awards, .lesson-structure, .lesson-teacher, .why-need-school, .child-age, .advantage-item {
        padding-top: 104px;
    }
}
@media (max-width: 551px) {
    .branches, .inspiration, .project-activity, .modern-tools, .preparing-child, .why-choose-us, .lifestyle-item, .dev-environment, .development, .holidays, .staff, .reviews, .contacts, .feedback, .simple-slider-section, .about-info, .awards, .lesson-structure, .lesson-teacher, .why-need-school, .child-age, .advantage-item {
        padding-top: 95px;
    }
}
@media (max-width: 431px) {
    .branches, .inspiration, .project-activity, .modern-tools, .preparing-child, .why-choose-us, .lifestyle-item, .dev-environment, .development, .holidays, .staff, .reviews, .contacts, .feedback, .simple-slider-section, .about-info, .awards, .lesson-structure, .lesson-teacher, .why-need-school, .child-age, .advantage-item {
        padding-top: 90px;
    }
}


/* ЕСЛИ БЛОК НАХОДИТЬСЯ ПОД СТОРИСАМИ И ОН ЯВЛЯЕТСЯ ШАБЛОННЫМ, ТО ЕСТЬ МОЖЕТ БЫТЬ НЕ ТОЛЬКО ПОД СТОРИСАМИ, А ГДЕ-ТО ВНУТРИ СТРАНИЦЫ (НАПРИМЕР, simple-slider), ТО НАДО ДОБАВИТЬ В ОБЩИЙ СПИСОК ОТСТУПОВ СВЕРХУ, НАЗНАЧИТЬ ЕМУ id(ЕСЛИ У НЕГО ЕШЁ НЕТ АТРИБУТА УНИКАЛЬНОГО)И ДОПОЛНИТЕЛЬНЮ ДОБАВИТЬ СЮДА ПО id */
/* В ОБЩИЙ СПИСОК ОТСТУПОВ ДОБАВЛЯТЬ БЕЗ id */
.simple-slider-section[data-simpleSlider-id="slider1"], .advantage-item[data-advantageBlock-id="educational-lessons"] {
    padding-top: 0;
}
.simple-slider-section[data-simpleSlider-id="slider1"] .simple-slider-section__container, .advantage-item[data-advantageBlock-id="educational-lessons"] .advantage-item__container {
    padding-top: 0;
}

@media (max-width: 769px) {
    .simple-slider-section[data-simpleSlider-id="slider1"], .advantage-item[data-advantageBlock-id="educational-lessons"] {
        padding-top: 107px;
    }
}
@media (max-width: 651px) {
    .simple-slider-section[data-simpleSlider-id="slider1"], .advantage-item[data-advantageBlock-id="educational-lessons"] {
        padding-top: 104px;
    }
}
@media (max-width: 551px) {
    .simple-slider-section[data-simpleSlider-id="slider1"], .advantage-item[data-advantageBlock-id="educational-lessons"] {
        padding-top: 95px;
    }
}
@media (max-width: 431px) {
    .simple-slider-section[data-simpleSlider-id="slider1"], .advantage-item[data-advantageBlock-id="educational-lessons"] {
        padding-top: 90px;
    }
}


.nowrap {
    white-space: nowrap;
}

.--video-poster {
    position: relative;
    cursor: pointer;
    z-index: 5;
}

.--video-poster::before {
    content: url('../assets/images/play-button.svg');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 88px;
    height: 88px;
    z-index: 5;
}

.--video-poster:hover::before {
    filter: brightness(0.9);
    transform: translate(-50%, -50%) scale(1.05);
    transition: all 0.3s ease;
}

@media (max-width: 551px) {
    .--video-poster::before {
        width: 80px;
        height: 80px;
    }
}
